#footer a:hover {
	color:#800000;
}


a,p,div,span,h1,h2,h3 {
	color:#ffffff;
}

#offlinelogin {
    color: #808080;
}


#header {
	color:#800000;
}


#claim span.claim1 {
	color:#800000;
}


#claim span.claim2 {
	color:#000000;
}


#visual {
	background:url("../images/visual-produktname.jpg") no-repeat scroll 0 0 transparent;
        background-position: right top;
        background-size: 965px;
}


#content .colorplane {
	background:none repeat scroll 0 0 #800000;
}


#content a.extern-link {
	color:#800000;
}
