/* Für JCE Efitor*/
/*  Imports  */
/*** General definitions ***/
/* Farben */
/* Farbzuweisungen */
/* Formular elemente */
/* Teaserbox */
/* Systemmeldungen, Fehler usw. */
/* Typografie / Schriften */
/* Fliesstext-Schriftgroesse in px ohne Einheit */
/* Fliesstext-Schriftart */
/* Abmessungen */
/* Layout / Grid */
/* Steg / Abstand der Spalten zueinander */
/* Steg / Abstand der Zeilen zueinander */
/* Actionicons */
/* input, button, ... */
/* height of form element */
/* height of form element, mobil version */
/* Bilder */
/* @precision:                3;*/
/* round precision  */
/*** boxes ***/
/** boxes (teaser) ***/
/***********/
/* Layout Breakpoints */
/* 3-Spaltig zentriert */
/* 3-Spaltig rechter Rand fix */
/* 3-Spaltig Actionicons oben */
/* 2-Spaltig */
/* Allgemeine Definitionen */
/* CSS Reset */
/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block;
}
/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}
/* ==========================================================================
 *   Base
 * ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove default margin.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
}
/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 1em;
  margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Mixins */
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
body {
  background-color: #ffffff;
  font-size: 100.01%;
  /* font-size bug fix for iphone. iPhone must not alter font-size. */
  -webkit-text-size-adjust: none;
}
html[xmlns] .clearfix {
  display: block;
}
* html .clearfix {
  height: 1%;
}
.clear {
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#system-message {
  padding-left: 20px;
}
/*** General Content Style ***/
*::selection {
  background: #006fb6;
  color: #ffffff;
}
*::-moz-selection {
  background-color: #006fb6;
  color: #ffffff;
}
ol,
ul,
li {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
/*******************/
/* redefine focus, hide focus outline */
a:focus,
:focus {
  outline: 0;
}
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* IOS/Android verhindert das graue Link-Overlay*/
  text-decoration: none;
  color: #6f6f6f;
}
a:hover {
  color: #006fb6;
}
/*******************/
/* hidden class */
.hidden {
  display: none;
}
/* CSS Basics und Reset */
/* Create font size mixin */
/* Linotype.com Web Fonts */
/* Lizenz/Aufrufzähler */
/* @import url("http://fast.fonts.net/lt/1.css?apiType=css&c=552a56f2-4f38-4a03-8fc2-037a5368a6fc&fontids=739461,739473"); */
@font-face {
  font-family: "Helvetica W02 Cn";
  src: url("../fonts/Helvetica-Condensed-739461/d37d735d-4b02-4668-821a-e5f89e665f39.eot?#iefix");
  src: url("../fonts/Helvetica-Condensed-739461/d37d735d-4b02-4668-821a-e5f89e665f39.eot?#iefix") format("eot"), url("../fonts/Helvetica-Condensed-739461/5fe9a378-cd0e-40bb-aaf5-8cc3f3207684.woff") format("woff"), url("../fonts/Helvetica-Condensed-739461/ad87d55f-b33d-4b5b-b8f7-ca20a94db3f2.ttf") format("truetype"), url("../fonts/Helvetica-Condensed-739461/218aa0ac-ac1c-4078-951d-a3585a525d72.svg#218aa0ac-ac1c-4078-951d-a3585a525d72") format("svg");
}
@font-face {
  font-family: "Helvetica W02 Blk Cn";
  src: url("../fonts/Helvetiva-Bold-Condensed-739473/b5341fad-b3e0-4fc0-ad6a-37e8064e149d.eot?#iefix");
  src: url("../fonts/Helvetiva-Bold-Condensed-739473/b5341fad-b3e0-4fc0-ad6a-37e8064e149d.eot?#iefix") format("eot"), url("../fonts/Helvetiva-Bold-Condensed-739473/b1dc6af4-e159-4de5-9a56-fba1e2f6316d.woff") format("woff"), url("../fonts/Helvetiva-Bold-Condensed-739473/354b2be7-3f8d-4222-b185-8445e0104200.ttf") format("truetype"), url("../fonts/Helvetiva-Bold-Condensed-739473/daea9df1-f3c1-4cbe-9302-636114bf4f38.svg#daea9df1-f3c1-4cbe-9302-636114bf4f38") format("svg");
}
/* Schrift: Definition + font mixin */
/* Hochauflösende Icons und Hintergrundgrafiken */
@font-face {
  font-family: 'IcoMoon';
  src: url('../../../media/jui/fonts/IcoMoon.eot');
  src: url('../../../media/jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'), url('../../../media/jui/fonts/IcoMoon.woff') format('woff'), url('../../../media/jui/fonts/IcoMoon.ttf') format('truetype'), url('../../../media/jui/fonts/IcoMoon.svg#IcoMoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'IcoMoon';
  content: attr(data-icon);
  speak: none;
}
/* Icon Quelle /media/jui/lessicomoon.less */
/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: 'IcoMoon';
  font-style: normal;
  speak: none;
}
[class^="icon-"].disabled,
[class*=" icon-"].disabled {
  font-weight: normal;
}
.icon-arrow-up-3:before {
  content: "\e00f";
}
.icon-arrow-down-3:before {
  content: "\e011";
}
.icon-menu-2:before {
  content: "\e00e";
}
.icon_hotline {
  position: relative;
  top: 0px;
  display: inline-block;
  zoom: 1;
  background-image: url(../../../images/layout/telefonhoerer-blau.png);
  background-repeat: no-repeat;
  width: 17px;
  height: 20px;
}
/* Schrift: Definition + font mixin */
#tinymce {
  /* JCE Editor ONLY */
  background-color: #ffffff;
  background-image: none;
  /* Fix table font size in editor */
}
#tinymce .mceItemTable,
#tinymce .mceItemTable td,
#tinymce .mceItemTable th,
#tinymce .mceItemTable caption,
#tinymce .mceItemVisualAid {
  font-size: inherit;
}
#tinymce .imageTip {
  display: block;
  color: #fff;
  background-color: #000;
  opacity: 0.8;
  padding: 4px;
  margin: 2px 0;
}
#tinymce .imageTip:hover {
  text-decoration: none;
}
.content,
#tinymce {
  /* JCE Editor */
  /* underline in der selben Farbe wie der span-Tag. z.B. Verwandte Themen */
  /* Externe: Links */
  /*	a[href^="http://"], a[href^="https://"] {
		background: url(../../../images/layout/externer-link.png) center right no-repeat;
		padding-right:13px;
	}*/
  /* E-Mail Links */
  /*	a[href^="mailto:"] {
		background: url(../../../images/slayout/briefumschlag.png) center left no-repeat;
		padding-left:20px;
	}*/
}
.content p,
#tinymce p,
.content h1,
#tinymce h1,
.content h2,
#tinymce h2,
.content h3,
#tinymce h3,
.content h4,
#tinymce h4,
.content h5,
#tinymce h5,
.content h5,
#tinymce h5,
.content h6,
#tinymce h6 {
  margin: 0;
  padding: 0;
}
.content h1,
#tinymce h1,
.content h2,
#tinymce h2,
.content h3,
#tinymce h3,
.content h4,
#tinymce h4,
.content h5,
#tinymce h5,
.content h5,
#tinymce h5,
.content h6,
#tinymce h6 {
  color: #006fb6;
}
.content ul.gufiles li,
#tinymce ul.gufiles li {
  background-color: #ff9999;
}
.content a,
#tinymce a {
  color: #006fb6;
  text-decoration: none;
}
.content a:hover,
#tinymce a:hover {
  text-decoration: underline;
}
.content a:hover span,
#tinymce a:hover span {
  color: inherit;
  text-decoration: underline;
}
.content a.externlink,
#tinymce a.externlink,
.content a.icon-extern,
#tinymce a.icon-extern {
  background: url(../../../images/layout/externer-link.png) center right no-repeat;
  padding-right: 13px;
}
.content a.no-icon,
#tinymce a.no-icon,
.content a.jcepopup,
#tinymce a.jcepopup {
  background: none;
  padding-right: 0;
}
/* Beitrag */
.content,
#tinymce {
  /* JCE Editor */
  /* General Page Style */
  /* Artikel Headline-Teile */
  /* Bilduntertitel */
  /* Fussnote */
  /* Listen */
  /* http://webdesignerwall.com/tutorials/css-elastic-videos*/
  /* Tabelle */
  /* TODO: clean up style */
  /* TODO: responsive */
}
.content h1,
#tinymce h1 {
  color: #333333;
  font: normal 1.071em/1.2em Arial, Helvetica, sans-serif;
}
.content h2,
#tinymce h2 {
  font: bold 1.5em/1.28571429em Arial, Helvetica, sans-serif;
  padding-bottom: 20px;
}
.content h3,
#tinymce h3 {
  font: bold 1em/1.07142857em Arial, Helvetica, sans-serif;
  padding: 10px 0 10px 0;
  line-height: 1.5em;
}
.content h4,
#tinymce h4 {
  font: bold 1em/1.5em Arial, Helvetica, sans-serif;
  padding: 10px 0 10px 0;
}
.content h5,
#tinymce h5 {
  font: bold 1em/1.5em Arial, Helvetica, sans-serif;
  padding: 10px 0 10px 0;
}
.content p,
#tinymce p,
.content ul,
#tinymce ul,
.content ol,
#tinymce ol {
  padding: 0 0 10px 0;
}
.content p,
#tinymce p,
.content li,
#tinymce li {
  line-height: 1.5;
}
.content p,
#tinymce p,
.content li,
#tinymce li,
.content span,
#tinymce span,
.content label,
#tinymce label {
  color: #6f6f6f;
}
.content p.img_caption,
#tinymce p.img_caption {
  color: #6f6f6f;
}
.content p.fussnote,
#tinymce p.fussnote {
  font: normal 0.785em/1.22727273em Arial, Helvetica, sans-serif;
}
.content ul,
#tinymce ul {
  margin-left: 20px;
}
.content ul li,
#tinymce ul li {
  list-style-type: disc;
  list-style-image: url(../../../images/layout/li_standard.gif);
  list-style-position: outside;
}
.content ul li.haus,
#tinymce ul li.haus,
.content ul li.preis,
#tinymce ul li.preis,
.content ul li.formular,
#tinymce ul li.formular,
.content ul li.herz,
#tinymce ul li.herz,
.content ul li.wappen,
#tinymce ul li.wappen,
.content ul li.geschenk,
#tinymce ul li.geschenk,
.content ul li.postbox,
#tinymce ul li.postbox,
.content ul li.herzgrau,
#tinymce ul li.herzgrau,
.content ul li.wappengrau,
#tinymce ul li.wappengrau,
.content ul li.geschenkgrau,
#tinymce ul li.geschenkgrau,
.content ul li.postboxgrau,
#tinymce ul li.postboxgrau,
.content ul li.herzblau,
#tinymce ul li.herzblau,
.content ul li.wappenblau,
#tinymce ul li.wappenblau,
.content ul li.geschenkblau,
#tinymce ul li.geschenkblau,
.content ul li.postboxblau,
#tinymce ul li.postboxblau,
.content ul li.herzhoverblau,
#tinymce ul li.herzhoverblau,
.content ul li.wappenhoverblau,
#tinymce ul li.wappenhoverblau,
.content ul li.geschenkhoverblau,
#tinymce ul li.geschenkhoverblau,
.content ul li.postboxhoverblau,
#tinymce ul li.postboxhoverblau,
.content ul li.herzhover,
#tinymce ul li.herzhover,
.content ul li.wappenhover,
#tinymce ul li.wappenhover,
.content ul li.geschenkhover,
#tinymce ul li.geschenkhover,
.content ul li.postboxhover,
#tinymce ul li.postboxhover {
  line-height: 1;
  list-style-type: none;
  margin-left: -20px;
  padding-left: 30px;
  background-repeat: no-repeat;
  padding-top: 3px;
  padding-bottom: 25px;
  background-position: left top;
}
.content ul li.haus,
#tinymce ul li.haus {
  background: url("../../../images/layout/postleitzahl.png") no-repeat 0 0 transparent;
  background: url("../../../images/layout/hres/postleitzahl.png") no-repeat 0 0 / 21px 22px transparent;
  color: #e8b329;
}
.content ul li.preis,
#tinymce ul li.preis {
  background: url("../../../images/layout/preis.png") no-repeat 0 0 transparent;
  background: url("../../../images/layout/hres/preis.png") no-repeat 0 0 / 21px 22px transparent;
  color: #2e3e6e;
}
.content ul li.formular,
#tinymce ul li.formular {
  background: url("../../../images/layout/auftrag.png") no-repeat 0 0 transparent;
  background: url("../../../images/layout/hres/auftrag.png") no-repeat 0 0 / 21px 22px transparent;
  color: #006fb6;
}
.content ul li.herz,
#tinymce ul li.herz {
  background: url("../../../images/layout/herz.png") no-repeat 0 0 transparent;
  background: url("../../../images/layout/hres/herz.png") no-repeat 0 0 / 21px 22px transparent;
  color: #b02f34;
}
.content ol,
#tinymce ol {
  margin-left: 20px;
  list-style-type: decimal;
}
.content ol li,
#tinymce ol li {
  list-style-type: inherit;
  list-style-position: outside;
}
.content iframe,
#tinymce iframe {
  border: 0 none;
}
.content .video,
#tinymce .video {
  position: relative;
  padding-bottom: 55%;
  padding-top: 15px;
  height: 0;
  overflow: hidden;
  margin-bottom: 10px;
  width: 100%;
}
.content .video iframe,
#tinymce .video iframe,
.content .video object,
#tinymce .video object,
.content .video embed,
#tinymce .video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.content table,
#tinymce table {
  border-collapse: collapse;
  width: 100%;
  border: 0;
  margin-bottom: 10px;
}
.content table tr th,
#tinymce table tr th {
  height: 18px;
  background-color: #006fb6;
  padding: 2px 5px 2px 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: left;
}
.content table tr th,
#tinymce table tr th,
.content table tr th a,
#tinymce table tr th a {
  color: #ffffff;
  font-weight: normal;
  line-height: 18px;
}
.content table tr td,
#tinymce table tr td {
  border: 1px solid #ffffff;
  padding: 5px 5px;
  color: #333333;
  background-color: #ececed;
}
.content table tr td.list-date,
#tinymce table tr td.list-date {
  /*	width: 100px; */
}
/* Inhalt: Überschriften, Paragraphen, Listen, Tabellen, ... */
