html, body {
	height: 100%;
	overflow: auto;
}

#wrapper {
	margin:0;
	width: 100%;
	height: 100%;
	overflow: auto;
}

#top {
	left: 50%;
	margin: 0 0 0 -497px;		
}

#visual {
	left: 50%;
	margin: 0 0 0 -467px;		
}

* html #top,
* html #visual { 
	position: absolute; /* IE6 Selector */
}

#content {
	position: relative;
	margin: 0 auto;
	width:995px;
} 

#content .box1, #content .box2, .box1-header {
	background-color:transparent;
}
