*{
	padding:0;
	margin:0;
	border:0;
}

#wrapper {
	position:relative;
	margin:0 auto;
	width: 995px;
}

#top {
	position:fixed;
	height:120px;
	width:995px;
	z-index:100;
	top:0;
}

#visual {
	position:relative;
	top:120px;
	margin:0 30px 0 30px;
	width:auto;
	min-height:550px;
	z-index:0;
}

#content {
	position:absolute;
	z-index:10;
	top:120px;
}

#content-inner{
	width:445px;
}