@media only screen and (max-width: 995px) {
    #wrapper {
        width: 100%;
    }
    #top {
        width: 100%;
    }
    #claim {
        margin-right: 30px;
    }
    #content {
        width: auto;
    }
    #footer {
        width:100%;
    }
}

@media only screen and (max-width: 768px) {
    #claim {
        display: none;
    }
}

@media only screen and (max-width: 740px) {
    #impressum {
        left:30px;
    }
    #copyright {
        top: 20px;
        margin-right: 30px;
    }
}

@media only screen and (max-width: 475px) {
    #content .box1,
    #content .box2 {
	padding:10px 15px 10px 15px;
    }
    #content .box1-header {
        padding:15px 0 0 15px;
    }
    .colorplane { /* IE6 compatible? */
	display: none;
    }
    #visual {
        display:none;
    }
    #logo {
        left:15px;
    }
    #content-inner{
	width:100%;
    }
    #impressum {
        left:0px;
        padding-left: 5px;
    }
    #copyright {
        left:0px;
        padding-left: 5px;
    }
    #footer {
        position: absolute;
        top: 500px;
    }
    #content {
        top: 90px;
    }
}

@media only screen and (max-width: 376px) {
    #footer {
        top: 530px;
    }
}

@media only screen and (max-width: 360px) {
    #footer {
        top: 548px;
    }
}