body {
	font-size:100.1%;
}

a {
	text-decoration:none;
}

a:hover {
	color:#C80B0E;
}

#content a.extern-link:hover {
	text-decoration:none;
	color:#ffffff;
}

#footer a:hover {
	color:#006FB6;
}

a,p {
	font-size:1em;
}

a,p,div,span,h1,h2,h3 {
	font-family:Tahoma, sans-serif;
	color:#ffffff;
}

h2 {
	font-size:18px;
	font-weight:normal;
	line-height:30px;
}


p {
	line-height:17px;
	/*margin:5px 0 10px 0;*/
	padding:5px 0 5px 0;
}

#wrapper {
	font-size:0.75em;
}

#top {
	background:none repeat scroll 0 0 #ffffff;
}


#logo {
	position:absolute;
	left:72px;
	bottom:15px;
	top:20px;
}

#logo img {
	display:block;  /* fix */
}

#header {
	color:#006FB6;
	font-size:65px;
	line-height:60px;
	font-family:"Times New Roman",serif;
	height:76px;
}

#claim {
	position:absolute;
	right:0px;
	bottom:10px;
        margin-right: 30px;
	/*
	font-size:0.917em;	
	*/
}

#claim span {
	line-height:20px;
	font-weight:bold;
	text-transform:uppercase;
}

#claim span.claim1 {
	color:#006FB6;
	font-weight:bold;
}

#claim span.claim2 {
	color:#000000;
	font-weight:bold;
}


/****/
#content .box1,
#content .box2 {
	padding:10px 15px 10px 72px;
	margin:0 0 15px 0;
}

#content .box1-wrapper {
	background:rgba(0, 0, 0, 0.5);
	margin-top:45px;
}

#content .box1-header {
	padding:15px 0 0 72px;
	position:relative;
}

#content .box1-header img {
	display:block; /* fix */
}

#content .colorplane {
	position:absolute;
	top:0;
	left:0;
	height:91px;
	width:30px;
	background:none repeat scroll 0 0 #006FB6;
}

/* IE6 */
* html #content .colorplane {
	left:-72px;
	width:31px;
}

#content .box2 {
	background:rgba(0, 0, 0, 0.5);
}

#content .spacer1 {
	height:72px;
	display:block;
}

#content a.extern-link {
	font-size:1.167em;
	font-weight:bold;
	color:#006FB6;
	line-height:21px;
}

#content span.small {
	font-size:0.833em;
}

#content span.phonecosts {
    display: block;
    width: 240px;
}

#content p.pad1 {
	padding-bottom:1px;
}

/****/
#footer {
        position: relative;
	margin-top: 120px;
	width:995px;
	height:30px;
	background:none repeat scroll 0 0 #FFFFFF;
	font-size:0.917em;	
}

#footer span,
#footer a {
	color:#808080;
}

#copyright {
	position:absolute;
	left:30px;
	top:5px;
}

#impressum {
	align: right;
        position:absolute;
	right: 30px;
	top:5px;
}


#offlinelogin {
	width:400px;
	background-color: #fff;
	border: 1px solid #006fb9;
	display: none;
	padding:20px;
	font-size: 14px;
}
#offlinelogin fieldset {
	border: 0 none;
}
#offlinelogin label {
	color: #808080;
	display: inline-block;
	width: 140px;
}
#offlinelogin input {
	border: 1px solid #808080;
	color: #808080;
	padding: 3px;
	font-size: 14px;
}
#offlinelogin input[type="submit"]{
	background-color: #006fb9;
	color: #fff;
}

#close_x {
	color: grey;
}

#offlinelogin #remember {
	 border: none !important;
}
