/**
* GU Modul Tarifrechner Box
 */
.gu_tarifrechner {
	width: auto;
	background-color: @color-weiss;
	background-image: url("../../../images/layout/tarifrechner.svg");
	background-repeat: no-repeat;
	background-position: 8% 75px;
	margin-top: 87px;
	margin-bottom: 20px;
	padding-bottom: 68px;
	line-height: 1.5;
	color: @color-produktlogo;
	position: relative;

	.gu_tarifrechner_loading {
		position:absolute;
		width:100%;
		top:20px;
		text-align: center;
	}
	/**
	 *	Tarifart Umschaltung
	 */
	&.tariftabrowvisible {
		margin-top: 160px;
	}
	.tariftabrow {
		position: absolute;
		right: 15px;
		top: -31px;
		width: 160px;
		div {
			float: left;
			margin-left: -4px;
			width: 80px;
			height: 31px;
			background-color: @color-grau;
			border-radius: 3px;
			text-align: center;
                        font: 0.875em/1.14286em Arial,Helvetica,sans-serif;
			text-transform: uppercase;
			a {
				color: @color-weiss;
				display: block;
				line-height: 31px;
                                text-decoration: none;
			}
		}
		.tabtarif1 {

		}
		.tabtarif2 {
                
		}
		.tabaktiv {
			background-color: @color-produktlogo;
			a {
				color: @color-weiss;
			}
		}
	}
	/**
	 * Typografie
	 */
	h3 {
		font-weight: normal;
		color: @color-produktlogo;
		.font-size(28);
		padding: 0;
		margin: 20px 0 0 0;
	}

	h4 {
		color: @color-produktlogo;
                margin-top: 10px;
		margin-bottom:5px;
	}
        p {
		color: @color-grau-dunkel;
                line-height: 1.5;
                margin-top: 10px;
		margin-bottom: 5px;
	}

	.gu_tarifrechner_inner {
		float: left;
		width: 50%;
		margin-left: 45%;
		box-sizing: border-box;
		padding: 0 10px;
		position: relative;
		
		h3 {
		    font: bold 1.25em/1.2em Arial,Helvetica,sans-serif;
		    margin: 32px 0 20px;
		}
	}

	.gu_tarifspacer{
		height: 15px;
	}

	.formcol3 .gu_tarifspacer{
		height: 10px;
	}

	.gu_tarifformmsg p {
		padding: 20px 0;
	}

	.page1, .page2, .page3, .page4, .page5, .page6 {
		display: none;
	}

	.activepage {
		display: block;
	}

	input {
		border-color: @color-produktlogo;
		color: @color-produktlogo;
		font: 0.875em/1.14286em Arial,Helvetica,sans-serif;
		height: 31px;
		padding: 0 0 0 5px;
	}
	select{ 
	    font: 0.875em/1.14286em Arial,Helvetica,sans-serif;
	}

	input[type=radio] {
	   position: relative;
	   top: 0;
	}

	input[type=button] {
/*			background-image: url("../../../images/layout/button-default.png");
		background-position: 0 -9px;
		color: #fff;*/
		background-color: @color-button-default-bg;
		color: @color-button-default;
		border: 0 none;
		font: 0.875em/1.14286em Arial,Helvetica,sans-serif;
		height: 31px;
		padding: 0;
		text-transform: uppercase;
		text-align: center;
		width:200px;
	}
	input[type=button]:hover {
/*			background-position: 0 -48px;*/
		background-color: @color-button-default-hover-bg;
		color: @color-button-default-hover;
	}
	input[type=text] {
	    width: 50%;
	    padding-left: 13px;
	}
	select {
	    padding-left: 10px;
	}
	.textkundengruppe {
		padding-top: 2px;
		color: @color-grau;
		display: none;
	}
	.gu_tarifrechner_col1 {
		padding: 50px 10px 0 10px;
		margin-left: 45%;
		width: auto;
		float: left;
		box-sizing: border-box;
	}
	.tariflabel{
		display: inline-block;
		width: 115px;
	}



	.formrow1, .formrow2 {
		width: 100%;
		float:left;
		box-sizing: border-box;
		input, select {
		    height: 30px;
		    width: 100%;
		    box-sizing: border-box;
		    border: 1px solid @color-produktlogo;
		    border-radius: 3px;
		}
	}

	.page2 .formrow1, .page2 .formrow2,
	.page3 .formrow1, .page3 .formrow2
	{
		padding-top: 8px;
	}
	.formcol3 {
	    width: auto;
	    padding: 15px 10px 0 0;
	    float: right;
	    box-sizing: border-box;
	    direction: rtl;
	    
	    .gu_tarif_formmsg {
		direction: ltr;
	    }
	}

	.kontaktcol, .form2col, .gu_tarif_danke {
		padding: 25px 10px 0 0;
		width: 100%;
		float: left;
		box-sizing: border-box;
		
		label {
		    font-weight: normal;
		    color: @color-schwarz;
		}
		.gu_tarif_label {
		    display: inline-block;
		    width: 100px;
		    color: @color-schwarz;
		}
		.gu_tarif_formrow {
		    margin-bottom: 10px;
		}
		.gu_tarifrechner_gewerbe {
		    display: none;
		}
		.gu_tarifrechner_kontaktauf {
		    p {
			color: @color-schwarz;
		    }
		    & + p {
			color: @color-schwarz;
		    }
		}
	}


	.offlinetext {
		.font-size(16);
		color: @color-grau;
		float:left;
		height: 80px;
		line-height: 80px; 
		vertical-align:middle;
	}

	input.fehler, select.fehler {
		border-color: #ff0000;
	}
	label.fehler {
		color: #ff0000;
	}
	span.fehler {
		color: #ff0000;
	}
	
	.gu_tarifform_details {
	    width: 50%;
	    float: left;
	    
	    .form2col {
		.labeltarif_ort_netz {
		    width: 100%;
		    float: left;
		}
	    }
	}
	
	.page2 {
	    .kontaktcol {
		padding-top: 15px;
	    }
	}
	
	.page3 {
	    form {
		.kontaktcol {
		    width: 60%;
		}
		.formcol3 {
		    width: 40%;
		    padding-top: 25px;
		    direction: ltr;
		    
		    .gu_tarifzusammenfassung {
			& > h4 {
			    margin-top: 0;
			}
		    }
		    div:last-child {
			position: absolute;
			bottom: 0px;
		    }
		}
		.gu_tarif_formmsg {
		    display: none;
		    
		    & + .gu_tarifspacer {
			display: none;
		    }
		}
	    }
	}
	
	.page6 {
	    padding-top: 15px;
	    
	    #form2col {
		label {
		    font-weight: normal;
		    color: @color-produktlogo;
		    font-size: 18px;
		}
		select {
		    width: 100%;
		}
	    }
	    .formcol3 {
		& > div {
		    position: absolute;
		    bottom: 0px;
		}
	    }
	}

}

.gu_tarifrechner.gu_viewtarif{
	height:auto;
}

:-moz-ui-invalid:not(output) {
	box-shadow:none;
}
:invalid {
  box-shadow: none;
}
