#search {
    position: relative;
    top: 4px;
    float: right;
    width: @search-width;
    height: @search-height;
    color: @color-search-text;
    z-index: 10;
	div.finder {
		text-align: right;
	}
}

/* search input field modul*/ 

#header .finder {
    background-color: @color-weiss;
    border: 1px solid @color-produktlogo;
    border-radius: 3px;
    color: @color-grau;
    font-size: 14px !important;
    line-height: ( 15px );
    width: @search-width;
    height: @search-height;
    vertical-align: top;
    
    #mod-finder-searchword {
		float: left;
		background-color: transparent;
		border: none;
		border-right: @color-produktlogo 1px solid;
		border-radius: 0px;
		margin: 2px 0;
		padding: 0 8px 0 12px;
		font-size: 16px;
		line-height: ( 15px );
		width: ( @search-width - 34px );
		height: ( @search-height - 5);
	}
		
	#mod-finder-btn {
		/* Buttons have different css behaviour. Border is part of defined height & width */
		width: 20px;
		height: 20px;
		margin: 4px 5px 0 0;
		padding: 0;
		border: 0 none;
		background: url('../../../images/layout/lupe.png') no-repeat;
		background-size: 20px;
    }
}


/* override finder.css */
.search-pages-counter {
	display: inline-block;
	color: @color-grau;
}

#advancedSearch {
	border-top: 1px solid #fff;
	border-right: 1px solid @color-form-fieldset-border;
	border-left: 1px solid @color-form-fieldset-border;
	border-bottom: 1px solid @color-form-fieldset-border;
	padding: 15px;
	position: relative;
	top: -1px;
	hr {
		border: 0 none;
		height: 1px;
	}

	&.collapse {
		display:none;
	}
	
	&.collapse.in {
		display:block;
	}
	
}

/* 
#pabatemplate ul.autocompleter-choices li.autocompleter-selected span.autocompleter-queried {
	color: @color-produktlogo2;
}
*/

.advanced-search-tip {
	color: @color-grau-dunkel;
	.font(11, 14, @basefont-family, normal);
	padding: 10px 0 10px 0;
	
	p {
		line-height: 1.5em;
	}
}

.search-pages-counter {
	clear: none !important;
}	

#search-query-explained {
	padding: 20px 0 30px 0;
	line-height: 1.5em;
}

.finder {
	h1 {
		.font-size(21);
		padding-bottom: 10px;
		color: @color-produktlogo;
	}
	.result-text {
		line-height: 1.5em;
		margin-bottom: 30px;
	}
	
	#search-form {
	    fieldset {
			/*
			padding: 10px 0;
			
			label {
				padding-right: 20px;
			}
			
			input {
				
				max-width: 319px;
				width: 100%;
				padding: 0 10px 0 10px;
			}
						
			button {
				max-width: 200px;
			}
			*/
	    }
	}
}

#finder-search {

	button {
		border: 0 none;
	}

	button[type="submit"] {
	}
		
	button:hover {
	    background-color: @color-button-default-hover-bg;
	    border: 1px solid @color-button-default-hover-bg;
	}
}

#search-results {
	ul,li {
		list-style-type: decimal;
		list-style-image: none;
		background-image: none;
		padding-left: 0;
		
		h4.result-title + p {
		    margin-top: 0;
		}
		
	}
	
	ul {
		margin-left: 20px;	
	}
	
	h3.result-title {
	    .font(16, 18, @basefont-family, normal);
		padding: 0;
		margin: 0;
	}
	h3.result-title a{
		color: @color-schwarz;
	}

	h4.result-title {
		.font(21, 27, @basefont-family, normal);
		padding: 0;
		margin: 0;
		padding-bottom: 10px;
	}
	
	h3 a:hover, 
	h4 a:hover,
	h3 a:hover span, 
	h4 a:hover span {
		text-decoration: underline;
	}
}

#finder-search {
	.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
		pointer-events: inherit;
		cursor: pointer;
		opacity: 1;
	}
}

/*****
 *	Joomla Fix:
 *	Hide Autofcompleter (mod_finder), override finder.css
 *****/
ul.autocompleter-choices 
{
	top: -9999px;
}

.screen-xs { 
	#finder-search {
		input[type="text"],
		button.btn {
			display: block;
			margin-top: 1em;
			/* width: 250px; */
		}
		
	}
}

.screen-sm { }
.screen-md { }
.screen-lg { }