@contact-space: 30px;
@contact-image-space: 20px;

#content .contact-category {
	.category-desc { padding-top: 10px; }
	h3 {
		margin-bottom: 0; 
		a {
			color: @color-schwarz;
		}
	}
	li {
		padding: @contact-space 0 @contact-space 0;
	}
	li:last-child {
		border-bottom: 0 none;
		background-image: none;
	}
	.contact-image {
		padding-bottom: @contact-image-space;
	}
	.contact-data {
		line-height: 1.5em;
		a {
			color: @color-produktlogo;
		}
	}
}

.categories-list {
	ul {
		padding-top: 30px;
	}
	li {
		padding-bottom: @contact-space;
	}
	h3 {
		font-weight: normal !important;
	}
}

#content .contact-featured {
	.contact {
		padding-bottom: @contact-space;
	}
	h3 a {
		color: @color-schwarz;
	}
	li {
		padding: @contact-space 0 @contact-space 0;
	}
	li:last-child {
		border-bottom: 0 none;
		background-image: none;
	}
	.contact-data {
		line-height: 1.5em;
		a {
			color: @color-produktlogo;
		}
	}
}

#content .contact{
	.contact-content {
		padding-top: 30px;
		h3, h4 {
			color: @color-schwarz;
		}
	}
	.item-image {
		padding-bottom: @contact-image-space;
	}
	.contact-address, .contact-position, .contact-telefon-mail {
		line-height: 1.5em;
	}
	.contact-telefon-mail {
		padding-bottom: @contact-image-space;
	}
	.contact-emailto a {
		color: @color-produktlogo;
	}
	.contact-address {
		padding-top: 10px;
	}
}

.contactinfo {
	.telefon-mail {
		color: @color-schwarz;
		.info_telephone, .info_email a {
			color:@color-produktlogo;
			.font(14, 20, @basefont-family, normal, none);
		}
		.info_email a {
			color: @color-produktlogo;
			background-image: url(../../../images/layout/briefumschlag.png);
			background-repeat: no-repeat;
			background-position: left center;
			padding-left: 20px;
			&:hover {
				text-decoration: underline !important;
			}
		}
		// 
		.info_telephone a {
			text-decoration: none;
			background: none;
			color:@color-produktlogo;
		}
	}
	.contactname, .contactname a {
		color: @color-schwarz;
		margin-bottom: 6px;
	}
	.contact-boxtext {
		color: @color-schwarz;
		margin-right: 60px;
	}
	.contact_image{
		width: 270px;
		height: 180px;
		overflow: hidden;
		margin-bottom:20px;
		img {
			height: 100%;
		}
	}
	.info_name {
		.font(14, 20, @basefont-family, bold, none);
	}
}

.mobil a.downloadvcard { display: none; }