/* com-xmap Sitmap */

#xmap {
	h1 {
	    .font(21, 27, @basefont-family, normal);
		padding-bottom: 20px; /* OLD 30px */
		color: @color-produktlogo;
	}
        
        h2 {
            padding-top: 20px;
            padding-bottom: 0px;
	    margin-bottom: 0;
        }

	ul {
		margin-left: 0;
		padding: 0 0 0 0;
		list-style-type: none;
		list-style-image:  none;
		
		li {
			list-style-type: inherit;
			list-style-image: inherit;
			list-style-position: outside;
			background-image: none;
			padding: 0;
		}
		
		span, a {
			display: block;
			padding-top: 8px;
			padding-bottom: 5px;
		}
		
		ul a {
			border-bottom: 1px solid @color-grau;
		}
		
		.menu-headline {
			color: @color-schwarz;
		}
		
		.nolink {
			color: @color-schwarz;
		}
		
		&.level_0 > li > .menu-headline {
			color: @color-schwarz;
		}
		
	}
	
	.level_0 span, 
	.level_0 a {
		padding-left: 0;
	}
	
	.level_1 span, 
	.level_1 a {
		margin-left:20px
	}
	
	.level_2 span, 
	.level_2 a {
		margin-left: 40px;
	}
}