.row {
    .content {
	.login, .reset, .remind, .registration, .logout, .profile-edit {
	    form {
		background-color: @color-grau-hell;
		border: 1px solid @color-grau-hell;
		border-radius: 3px;
		box-shadow: none;
		
		fieldset {
		    border: none;
		    margin: 0;
		    padding-left : 0;
		}
		.control-group {
		    .control-label {
			text-align: left;
		    }
		    .controls {
			button {
			    background-color: @color-button-default-bg;
			    border-color: @color-button-default-bg;
			    border-radius: 3px;
			    padding: 5px 0;
			}
			button:hover {
			    background-color: @color-button-default-hover-bg;
			    border-color: @color-button-default-hover-bg;
			    color: @color-weiss;
			}
			a.btn:hover {
			    color: @color-produktlogo;
			}
			.chzn-drop {
			    ul {
				li {
				    background-image: none;
				}
			    }
			}
		    }
		}
	    }
	    
	    #user-registration {
		border: 1px solid @color-grau-hell;
		border-radius: 3px;
	    }
	}
	
	.profile-edit {
	    form {
		fieldset {
		    legend {
			margin-bottom: 0;
			margin-top: 30px;
		    }
		}
	    }
	}
	
	.profile {
	    ul.btn-toolbar {
		li {
		    background-image: none;
		    
		    a.btn:hover {
			color: @color-produktlogo;
		    }
		}
	    }
	    fieldset {
		background-color: @color-grau-hell;
		border: 1px solid @color-grau-hell;
		border-radius: 3px;
		
		legend {
		    padding-bottom: 30px;
		}
	    }
	}
	
	.registration {
	    fieldset {
		border: none;
		margin: 0;
		padding-left : 0;
	    } 
	}
	
	.login + div {
	    ul {
		li {
		    background-position: left top 6px;
		    
		    a {
			padding: 0;
		    }
		    a:hover, a:focus {
			background-color: transparent;
			border-color: transparent;
			text-decoration: underline;
		    }
		}
	    }
	}
    }
}