.content  {
	.formHidden {
		position: absolute;
		left: -20000px;
		top: -20000px;
		opacity: 0;
	}
	p.formRed {
		color: @color-fehler;
	}
	
	span.formError {
		color: @color-fehler;
		margin-left: 5px;
		font-size: 10px;
		
		span.error-textbox {
			color: @color-fehler;
			margin-left: 140px;
		}
	}

	.formResponsive input[type="text"].rsform-error, 
	.formResponsive input[type="email"].rsform-error, 
	.formResponsive input[type="password"].rsform-error ,
	.formResponsive select.rsform-error
	{
		/*border-color: @color-fehler;*/
	}	
	
	.formNoError {
		display:none;
	}

	.formField {
		display: block;
		overflow: auto;
	}

	.formClr {
		clear:both;
		display: block;
	}

	strong.formRequired {
		font-weight: normal;
		font-style: normal;
		margin-left: 3px;
	}

	div.formCaption {
		display: block;
		float: left;
		width: 25%;
		min-height: 12px;
	}

	div.formBody {
		display: block;
		float: left;
	}

	.formFieldset .formBody label {
		display: inline;
		margin: 3px;
	}
/*
	div.calheader{
		text-align:center !important;
	}
*/

	.rsformVerticalClear {
		overflow: hidden;
		display: block;
	}

	p.rsformVerticalClear {
		margin: 0;
	}

	/* responsive - desktop/default version */
	.formResponsive .rsformProgressContainer {
		height: 3px;
		width: 60%;
		margin-bottom: 10px;
		overflow: hidden;
		background-color: @color-grau-asch;
		overflow: hidden;
	}

	.formResponsive .rsformProgressContainer .rsformProgressBar {
		width: 0;
		height: 3px;
		font-size: 12px;
		color: #ffffff;
		text-align: center;
		background-color: @color-produktlogo;
	}

	.formResponsive .formHorizontal .hide {
		display: none;
	}

	.formResponsive .formHorizontal .rsform-block {
		padding-bottom: 10px;
		*zoom: 1;
	}

	.formResponsive .formHorizontal .rsform-block:before,
	.formResponsive .formHorizontal .rsform-block:after {
		display: table;
		content: "";
	}

	.formResponsive .formHorizontal .rsform-block:after {
		clear: both;
	}

	.formResponsive .formHorizontal .formControlLabel {
		float: left;
		width: 140px;
		line-height: 28px;
		color: @color-schwarz;
	}

	.formResponsive .formHorizontal .formControls {
		*display: inline-block;
		*padding-left: 20px;
		/* margin-left: 160px; */
		*margin-left: 0;
	}

	.formResponsive .formHorizontal .formControls:first-child {
		/* *padding-left: 160px; */	  
	}

	.formResponsive .formHorizontal .formDescription {
		margin: 0;
		padding: 0;
		font-size: 12px;
		//color: @color-grau;
		margin-left: 140px;
		float: left;
	}
	
	.formResponsive .formHorizontal .rsformVerticalClear {
		margin: 0 0 0 140px;
	}

	.formResponsive .formHorizontal .form-actions {
		/* padding-left: 160px; */
	}
	
	.formResponsive fieldset {
	  padding: 0;
	  margin: 0;
	  border: 0;
	}

	.formResponsive .formBody {
		float: none;
		line-height: 28px;
	}

	
	.formResponsive .formBody h3{
		/* padding: 10px 0 0 0; */
	}
	
	.formResponsive label {
		font-weight: normal;
		display: inline-block;
		height: 18px;
		margin: 0 15px 0 5px;
		padding: 0px;
/*		vertical-align: middle;*/
	}


	.formResponsive input[type="text"], 
	.formResponsive input[type="email"], 
	.formResponsive input[type="password"] {
		width: 280px;
	}
        .formResponsive textarea {
		width: 280px;
	}
	.formResponsive input[type="radio"] {
			display: inline-block;
			position: relative;
			top: -1px;
		}
	.rsform-select-box{
		width: 280px;
/*		height: 32px;*/
	}
	
	.formResponsive input[type="button"], 
	.formResponsive input[type="reset"], 
	.formResponsive input[type="submit"] {
		margin-right: 10px;
	}

	.formResponsive .rsform-button,
	.formResponsive .rsform-submit-button,
	.formResponsive .rsform-reset-button	{
		margin-top: 10px;		
	}
	
	.formResponsive input[type="submit"] {
		background-color: @color-button-default-bg;
		border-color: @color-button-default-bg;
		&:hover {
			background-color: @color-button-default-hover-bg;
			border-color: @color-button-default-hover-bg;
		}
	}
	
	/* yui-calcontainer */
	.formResponsive .formBody .yui-calcontainer {
		margin-left: 140px;
		margin-top: 10px;
	}
	
	.formResponsive .formBody .yui-calcontainer table {
		margin: 0;	/* Reset SWP Content Style */
	}
	
	.formResponsive .formBody .yui-calcontainer table td{
		//color: @color-grau;	/* Reset SWP Content Style */
	}
	
	.formResponsive .formBody .yui-calcontainer .yui-calendar a.calnav:hover {
		background: none;
		border: 0 none;
	}
		
	.formResponsive .formBody  .yui-calcontainer .yui-cal-nav input[type="text"] {
		width: 50px;
	}	
	/*******************/
	
	.rsform-map-geolocation {
		list-style: none outside none;
		margin: 0;
		width: 455px;
		background: none repeat scroll 0 0 #F5F5F5;
		border: 1px solid #E8E7E7;
		height: auto;
		position: absolute;
		z-index: 999999;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.rsform-map-geolocation li a {
		padding: 4px;
		text-decoration: none;
		display: block;
		line-height: 20px;
	}

	.rsform-map-geolocation li a:hover{
		text-decoration: none;
		background: #fff;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}
}

/* responsive - mobile versions */

@media only screen and (max-width: 650px) {
	.content  {
		.formResponsive .formHorizontal input[type="checkbox"],
		.formResponsive .formHorizontal input[type="radio"] {
			border: 1px solid #ccc;
		}
		.formResponsive .formHorizontal .rsform-block {
			float: none;
			width: auto;
			padding-top: 0;
			text-align: left;
		}
		.formResponsive .formHorizontal .formControls {
			margin-left: 0;
		}

		.formResponsive input[type="text"],
		.formResponsive input[type="password"],
		.formResponsive textarea,
		.formResponsive select {
			width: 100%;
                        box-sizing: border-box;
		}
		.formResponsive .formHorizontal .formControlLabel {
			float: none;
			width: auto;
			padding-top: 0;
			text-align: left;
		}
		
		.formResponsive .formBody .yui-calcontainer {
			margin-left: 0;
		}
		
		.formResponsive .formHorizontal .rsformVerticalClear {
			margin-left: 0;
		}
		
		.formResponsive .formHorizontal .formDescription {
			margin-left: 0;
		}
		
		
		.formResponsive .formHorizontal .rsform-block-submit .formControlLabel {
			display: none;
		
		}
	}
}