.teaser-paba {
	position: relative;
	
	.teaser-image {
		.teaser-image-background {
			
			/*
			background-image: url("/templates/paba/images/paba-zitat-text-box-bg-400x100.png");
			background-repeat: repeat-y;
			background-position: center left;
			*/
		}
		
		img {
			height: 350px;
		}
	}

	.teaser-text {
		position: absolute;
		top: 0;
		background: url("/images/layout/paba-blue-light-right-side.png") repeat-y scroll center 0 transparent;
		
		.teaser-text-inner {
			background-color: #60a3b1;
			height: 350px;
			color: #ffffff;
			
			font-size: 24px;
			
			blockquote {
				line-height: 1.42em;
				font-size: 24px;
				font-weight: bold;
				padding: 30px 15px 0 15px;
			}
			
			cite {				
				display: block;
				font-size: 16px;
				padding-top: 1.5em;
				font-style: normal;
				font-weight: normal;
			}
			
			&:after {
				width: 0;
				height: 0;
				border-style: double solid double none;  /* Firefox and IE11 FIX with "double" instead of "dotted" */
				border-width: 15px 20px 15px 0;
				border-color: transparent @color-produktlogo2 transparent transparent;
				
				position: absolute;
				display: block;
				left: -20px;
				content: "";
				top: 50%;
				margin-top: -15px;
			}			
			
		}
	}
}

/**************************
 * Responsive 
 **************************/
 
.screen-xs { 
	.teaser-paba {
		.teaser-image {
			img {
				height: auto;
				width: 100%; 
			}
		}
		
		.teaser-text {
			position: relative;
			background-image: none;
			background-color: #60a3b1;
	
			.teaser-text-inner {
				height: auto;
				
				blockquote {
					padding-right: 0;
					padding-left: 0;
				}
			}
			
			.row {
				margin-right: -30px;
				margin-left: -30px;
			}
			
			
			&:after {
				width: 0;
				height: 0;
				border-style: none double solid double;  /* Firefox and IE11 FIX with "double" instead of "dotted" */
				border-width: 0 15px 20px 15px;
				border-color: transparent transparent @color-produktlogo2;
				
				position: absolute;
				display: block;
				left: 50%;
				margin-left: -15px;
				content: "";
				top: -20px;
				margin-top: 0;
			}				
		}
	}
}


