@import url("content.editor.less");

/* Tooltip */
.ui-tooltip {
	position: absolute;
	background-color: #000;
	color: #fff;
	/* border: 1px solid #fff; */
	padding: 0;
	opacity: 0.8;
	max-width: 300px;
	z-index: 99999;
	line-height: 1.5em;
}

.ui-tooltip-content {
	position: relative;
	padding: 1em;
}

.arrow {
	/* content: ''; */  /* When using :after */
	position: absolute;
	border-style: solid;
	display: block;
	width: 0;
	/* margin-left: -10px; */	/* When using :after */
	/* margin-left: 5px; */
	border-color: transparent #000;
}

.arrow.bottom {
	bottom: -9px;	/* -9px instead of -10px: bug fix mac */
	left: 50%;
	border-color: #000 transparent;
	border-width: 10px 10px 0;    
}

.arrow.top {
	top: -9px;	/* -9px instead of -10px: bug fix mac */
	left: 50%;
	border-color: #000 transparent;
	border-width: 0 10px 10px;
}
/*
.arrow.right {
    left: 90%;
}

.arrow.left {
    left: 10%;
}
*/

/* General non-article style */
.content {

	/* Show- & Hide-Verhalten des Akkordeons definiert in #accordion */
	h4.ui-accordion-header{
		cursor: pointer;
	}
	
	h4.ui-accordion-header:before {
		content: "+"; 
		display: inline-block;
		width: 15px;
	}
	
	h4.ui-accordion-header-active:before { 
		content: "-"; 
		display: inline-block;
		width: 15px;
	}
	
	/*********************************************/

	/* ABC Katalog-Style bei Akkordeon */
	.abc-catalog {
		span.nolink {
			color: @color-grau;
		}
		
		a,
		span.nolink	{
			padding: 0 5px;
			display: inline-block;
		}

		span {
			border-left: 1px solid @color-grau;
		}

		span:first-child {
			padding:  3px 5px 3px 0;
			border-left: 0 none;
			a {
				padding: 3px 0;
			}
		}
	}	

	/*********************************************/
	/* Search highlighting: override finder.css  */
	
	/* Reset highlighting */
	span.highlight {
		background-color: transparent;
		font-weight: inherit;
		color: inherit;
		padding: 0;
	}
	
	/* Do not highlight Headlines. */
	p > span.highlight,
	p  a > span.highlight,
	span > span.highlight {
		background-color: @color-grau-asch;
		font-weight: bold;
		padding: 3px 2px 1px 2px;
		color: @color-schwarz;
	}
	
	/*******************************************/
	/* Pagination */
	/* pageination on category */
	.pagination {
		
		.search-pages-counter,
		p.counter {
			float: left;
			color: @color-schwarz;
			display: inline-block;
			margin: 0;
		}
		
		ul {
			float: right;
			list-style-image: none;
			padding: 0;
			li {
				float: left;
				display: inline-block;
				text-align: center;
				
				a:hover {
					background-color: transparent;
				}
				
				&.active:hover {
/*					background-color: @color-blau;
					color: @color-weiss;*/
					text-decoration: underline;
				}
				
				/* active link */
				a {
					padding: 0 5px;
					color: @color-produktlogo;
					text-decoration: none;
				}
				
				
				/* inactive link */
				span {
					padding: 0 5px;
					color: @color-grau;
				}					
				
			}
		}
		
		/* Reset link style */
		.pagenav a {				/* Page Navigation */
			background: none center left no-repeat;
			padding-left: 0;
		}		
	}

	/*******************************************/
	/* vCard */
	.h-card {
		p {
			padding:0;
		}
		
		font-style: normal;
		
		.p-name {
			font-weight: bold;
		}
		
		.p-country-name,
		.u-url {
			display: none;
		}

		.p-tel {
			p > span,
			span.value	{ 
				display: inline; 
			}
			p > span  + span { 
				display: none; 
			}
		}
	}
	/*******************************************/
	/* Beitrags Bild + Bildtitel */
	.image-fulltext, p.img_caption {
		padding: 0;
	}
	.image-fulltext {
		position: relative;
		.medialinks {
			position: absolute;
			text-align: center;
			right: 0;
			top: 195px;
			margin-right:15px;
			a {
				display: inline-block;
				color: @color-weiss;
				background: @color-schwarz;
				background: rgba(0,0,0,0.9);
				border: 1px solid @color-grau-hell;
				padding: 13px 33px 9px 13px;
				font-weight: bold;
				text-transform: uppercase;
				background-image: url(../../../images/layout/play.png);
				background-position: center right;
				background-repeat: no-repeat;
			}
		}
	}
	.pull-left {
		display: inline-block;
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
	}

	table.category{
		td {
			background-color: #fff;
			h3 {
				padding-bottom: 0;
			}
			h3 a{
				color: @color-produktlogo;
				.font(16, 20, @basefont-family, normal);
			}
			h4{
				//padding-top: 5px;
			}
			h4 a{
				.font(21, 27, @basefont-family, bold);
				/*padding-bottom: 20px;*/
			}
		}
	} 
}



#accordion {
	
	.abc-catalog {
		padding-top: 10px;
	}

	/* Initial block letter */
	h3.initialLetter {
		padding: 8px 0 4px 0;
		padding: 20px 0 10px 0;
		color: @color-schwarz;
		.font(24, 24, @basefont-family, normal);
	}
	
	/* No default padding when accordion is active */
	h4.ui-accordion-header {
		padding: 8px 0 4px 0;
	}

	/* Default Zustand */
	div.catalog-titles {
		display: none;
	}
	
	/* Initialer Zustand. showAll-Klasse wird durch Klick auf den Katalog enfernt. */
	&.showAll div.catalog-titles {
		display: block;
	}
	
	/* Alles anzeigen. Klick auf "Alle" mit Anker auf #accordion.  */
	&:target div.catalog-titles {
		display: block;
	}
	
	/* Buchstaben-Block öffnen */
	div.catalog-titles:target {
		display: block;
		margin-top: -22px;		/* Fix target position */
		padding-top: 22px;		/* Fix target position */
	}
}


#verwandtethemen {
	li {
		margin-bottom: 5px;
		line-height: 1.5em;
	}
	
	a span.headline1 {
		color: @color-produktlogo;
	}
	
	a span.headline2 {
		color: @color-schwarz;
	}
}

/* Google style FIX*/
/* Fix der Infobox. Kein Abschneiden mehr. */
.content .gm-style {

	font-family: @basefont-family;
	p {
		padding: 0;
	}
}

.spalterechts {
	h3 {
		.font-size(21);
		padding-bottom: 10px;
		padding-top: 0;
		line-height: 1;
	}
}

.section {
    h1 {
	
    }
    h2 {
	//margin: 18px 0 46px 0;
	margin: 18px 0 14px 0;
    }
    h2:only-child {
	margin: 0 0 14px 0;
    }
    .row > div:first-child > h2:first-child {
	margin: 0 0 14px 0;
    }
    .row > div.teaserbox > h2:first-child {
	margin: 0 0 8px 0;
    }
    h3 {
	margin: 20px 0 22px 0;
    }
    p + h3 {
	margin-top: 40px;
    }
    h4 {

    }
    p {
	margin: 22px 0;
    }
    p.heading {
	margin: 44px 0 40px 0;
        color: @color-produktlogo2;
    }
    h2 + h3, h2 + p {
	margin-top: 34px;
    }
    .row > ul:only-child {
	margin-top: 44px;
    }
    .row > p:only-child {
	margin-top: 44px;
    }
}

.page-header {
    h1 {
	margin-bottom: 0;
    }
    h2 {
	margin-bottom: 0;
	margin-top: 0;
    }
}
/*
.section {
    h1 {
	
    }
    h2 {
	//margin: 18px 0 46px 0;
	margin: 18px 0 14px 0;
    }
    h2 + h3, h2 + p {
	margin-top: 46px;
    }
    h2:only-child {
	margin: 0 0 14px 0;
    }
    h3 {
	margin: 32px 0 34px 0;
    }
    p + h3 {
	margin-top: 52px;
    }
    h4 {

    }
    p {
	margin: 34px 0;
    }
    p.heading {
	margin: 56px 0 52px 0;
    }
    .row > ul:only-child {
	margin-top: 56px;
    }
    .row > p:only-child {
	margin-top: 56px;
    }
}*/

.custom {
    color: @color-schwarz;
	
	background-position: center 0;
    
    h2 {
	color: @color-produktlogo;
	.font(28, 30,@basefont-family, bold, none);
	//font-weight: bold;
    }
    h3 {
	color: @color-produktlogo;
	.font(20, 24,@basefont-family, bold, none);
	//font-weight: bold;
    }
	
    h4 {
	color: @color-produktlogo;
	font-weight: bold;
    }
    
    p {
	.font(16, 23, @basefont-family, normal, none);
	a {
	    color: @color-produktlogo;
	    font-weight: bold;
	}
	a.pfeil {
	    background-image: url("../../../images/layout/pfeil.png");
	    background-repeat: no-repeat;
	    background-size: auto 66.7%;
	    background-position: left center;
	    padding-left: 16px;
	}
    }
    
    p.heading {
	color: @color-produktlogo;
	.font(20, 26,@basefont-family, normal, none);
    }
    
    
}
.custom.textgrau {
    p {
	color: @color-grau-dunkel;
    }
}

.custom.teaserbox {
    margin-bottom: 36px;
    h2 {
	.font(28, 30,@basefont-family, normal, none);
	margin: 0 0 8px 0;
    }
    p {
	margin: 1em 0;
    }
    h2 + p {
	margin: 0;
    }
}

#page-content {
	/*
	ul {
	    li {
			background-image: url("../../../images/layout/icon-li.png");
			background-repeat: no-repeat;
			background-size: 13px;
			background-position: left top 4px;
			padding-left: 18px;
			line-height: 1.5em;
	    }
	}
	*/
	
    .custom {
		ul.listeplus {
			color: @color-produktlogo;
			.font(20, 22,@basefont-family, bold, none);

			li {
				background-image: url("../../../images/layout/pluspunkt.png");
				background-repeat: no-repeat;
				background-size: 40px;
				background-position: 20px center;
				list-style-type: none;
				min-height: 40px;
				padding-left: 80px;
			}
		}
    }
}

blockquote {
	border: none;
	font-size: 1em;
}

.custom.zitat,
.custom.zitat,
.custom.zitat,
.custom.zitat {
    color: @color-weiss;
    
	/*
		Dreieck mit CSS
	*/


	&:after {
		background-image: url('/templates/paba/images/dreieck-unten.png');
		background-position: center bottom;
		background-repeat: no-repeat;
		
		position: relative;
		display: block;
		left: 50%;
		margin-left: -15px;
		margin-top: -20px;
		content: "";
		height: 18px;
		width: 27px;
	}

/*
	&:after{
		border-color: @color-produktlogo2 transparent transparent transparent;		
		border-style: solid double none double;  // Firefox and IE11 FIX with "double" instead of "dotted"
		border-width: 20px 15px 0 15px;
		
		position: relative;
		display: block;
		bottom: 18px;
		left: 50%;
		margin-left: -15px;
		content: "";
		height: 18px;
		width: 27px;
	}
*/
	
	
	margin-top: 30px;
	margin-bottom: 30px;
    
    /*
	h3 {
        color: @color-weiss;
		margin: 0;
		margin-bottom: 30px;
		.font(20, 24,@basefont-family, bold, none);
		//font-weight: bold;
    }
	
    p {
		margin: 0;
		.font(16, 20,@basefont-family, normal, none);
    }
    */
	
	blockquote {
		background-color: #ffffff;
		border: 2px solid #9d9d9d;
		border-radius: 3px;
		padding: 15px 20px;
		margin-bottom: 18px;
		.font(20, 24,@basefont-family, bold, none);
		
		cite {
			padding-top: 10px;
			font-style: normal;
			display: inline-block;
			font-size: 16px;
			font-weight: normal;
		}
		
		p {
			font: inherit;
			margin: 0;
			color: @color-schwarz;
			
			&.quote {
				color: @color-produktlogo;
			}
		}
	}
}

p {
	&.blockquote:before {
		content: "„"
	}

	&.blockquote:after {
		content: "“"
	}
}

.grau-asch {
    background-color: @color-grau-asch;
}

.grau-hell {
    background-color: @color-grau-hell;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.page-header {
	border: none;
}

.finder {
    fieldset {
		input {
			margin-right: 10px;
		}
    }
}
