#tinymce  {		/* JCE Editor ONLY */
	background-color: #ffffff;
	background-image: none;
	/* Fix table font size in editor */
	.mceItemTable, 
	.mceItemTable td, 
	.mceItemTable th, 
	.mceItemTable caption, 
	.mceItemVisualAid {
		font-size: inherit;
	}
}

#tinymce .imageTip {
	display: block;
	color: #fff;
	background-color: #000;
	opacity: 0.8;
	padding: 4px;
	margin: 2px 0;

	&:hover {
		text-decoration: none;
	}
}

.content,		/* Default Content Style */
#tinymce {		/* JCE Editor */
	/*
	p, h1, h2, h3, h4, h5, h5, h6 {
		margin: 0;
		padding: 0;
	}
	*/
	
	h1, h2, h3, h4, h5, h5, h6 {
		color: @color-produktlogo;
	}

	ul.gufiles{
		li {
			background-color:#ff9999;
		}
	}
	a {
	    color: @color-produktlogo;
	    text-decoration: none;
	}

	a:hover {
	    text-decoration: underline;
	}
	
	/* underline in der selben Farbe wie der span-Tag. z.B. Verwandte Themen */
	a:hover span {
		color: inherit;
		text-decoration: underline;
	}
	
	/* Externe: Links */
/*	a[href^="http://"], a[href^="https://"] {
		background: url(../../../images/layout/externer-link.png) center right no-repeat;
		padding-right:13px;
	}*/
	a.externlink,a.icon-extern {
		background: url(../../../images/layout/externer-link.png) center right no-repeat;
		padding-right: 13px;
	}
	a.no-icon, a.jcepopup{
		background: none;
		padding-right: 0;
	}
	/* E-Mail Links */
/*	a[href^="mailto:"] {
		background: url(../../../images/layout/briefumschlag.png) center left no-repeat;
		padding-left:20px;
	}*/
}


/* Beitrag */
.content,		    	/* Content blog */
#tinymce {				/* JCE Editor */

	/* General Page Style */
	/* Artikel Headline-Teile */
	
	/*
	h1 {
		color: @color-schwarz;
	    .font(15, 18, @basefont-family, normal);
	}
	
	h2 {
	    .font(21, 27, @basefont-family, bold);
		padding-bottom: 20px;
	}

	h3 {
		.font(14, 15, @basefont-family, bold);
		padding: 10px 0 10px 0;
		line-height: 1.5em;
	}

	h4 {
		.font(14, 21, @basefont-family, bold);
		padding: 10px 0 10px 0;
	}
	
	h5 {
		.font(14, 21, @basefont-family, bold);
		padding: 10px 0 10px 0;
	}
	*/
	
	
	/*
	p, ul, ol {
		padding: 0 0 10px 0;
	}
	*/

	/*
	p, li {
		line-height: 1.5;
	}
	*/
	
	color: @color-schwarz;
	
	/* Bilduntertitel */
	p.img_caption {
	    color: @color-grau;
	}
    
	/* Fussnote */
    p.fussnote {
       	.font(11, 13.5, @basefont-family, normal); 
    }

	/* Listen */
	ul {
		/* margin-left: 20px; */
		li {
			/*
			list-style-type: disc;
			background-image: url("../../../images/layout/icon-li.png");
			list-style-position: outside;
			*/

			background-image: url("../../../images/layout/icon-li.png");
			background-repeat: no-repeat;
			background-size: 13px;
			background-position: left top 4px;
			padding-left: 18px;
			line-height: 1.5em;
		}
	
		li.haus, li.preis, li.formular,
		li.herz, li.wappen, li.geschenk, li.postbox,
		li.herzgrau, li.wappengrau, li.geschenkgrau, li.postboxgrau,
		li.herzblau, li.wappenblau, li.geschenkblau, li.postboxblau,
		li.herzhoverblau, li.wappenhoverblau, li.geschenkhoverblau, li.postboxhoverblau,
		li.herzhover, li.wappenhover, li.geschenkhover, li.postboxhover
		{
			 line-height: 1;
			 list-style-type: none;
			 margin-left: -20px;
			 padding-left: 30px;
			 background-repeat: no-repeat;
			 padding-top: 3px;
			 padding-bottom: 25px;
			 background-position: left top;
		}
		li.haus {
			background: url("../../../images/layout/postleitzahl.png") no-repeat 0 0 transparent;
			background: url("../../../images/layout/hres/postleitzahl.png") no-repeat 0 0 ~'/' 21px 22px transparent;
			color: #e8b329;
		}
		li.preis {
			background: url("../../../images/layout/preis.png") no-repeat 0 0 transparent;
			background: url("../../../images/layout/hres/preis.png") no-repeat 0 0 ~'/' 21px 22px transparent;
			color: #2e3e6e;
		}
		li.formular {
			background: url("../../../images/layout/auftrag.png") no-repeat 0 0 transparent;
			background: url("../../../images/layout/hres/auftrag.png") no-repeat 0 0 ~'/' 21px 22px transparent;
			color: #006fb6;
		}
		li.herz {
			background: url("../../../images/layout/herz.png") no-repeat 0 0 transparent;
			background: url("../../../images/layout/hres/herz.png") no-repeat 0 0 ~'/' 21px 22px transparent;
			color: #b02f34;
		}
	}
	
	ol {
		margin-left: 20px;
		list-style-type: decimal;
		li {
			list-style-type: inherit;
			list-style-position: outside;
		}
	}
	
	iframe {
		border: 0 none;
	}
	
	/* http://webdesignerwall.com/tutorials/css-elastic-videos*/
	.video {
		position: relative;
		padding-bottom: 55%;
		padding-top: 15px;
		height: 0;
		overflow: hidden;
		margin-bottom: 10px;
		width: 100%;
	}
	.video iframe,
	.video object,  
	.video embed{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	/* Tabelle */
	/* TODO: clean up style */
	/* TODO: responsive */
	table {
		border-collapse: collapse;
		width: 100%;
		border: 0;
		margin-bottom: 10px;
		
		tr {
			th {
				height: @table-head-height;
				background-color: @color-produktlogo;
				padding: 2px 5px 2px 5px;
 				border: 1px solid @color-weiss;
				color: @color-weiss;
				text-align: left;
				&,
				a {
					color: @color-weiss;
					font-weight: normal;
					line-height: @table-head-height;
				}
			}
			
			td {
				border: 1px solid @color-weiss;
				padding: 5px 5px;
				color: @color-schwarz;
				background-color: @color-grau-asch;
				
				&.list-date {
				/*	width: 100px; */
				}
			}
		}

	}
}