/* Mobiler Content */
.mobil-content () {
    .content {
		.font(16, 20, @basefont-family, normal); 

		iframe, .pull-left {
			//float: none !important;
			//display: block !important;
			margin-right: 0 !important;
		}
		
		.image-fulltext, .img_caption  {
			//display: none !important;
		}
		/* hide columns */
		table {
			.font(12, 13, @basefont-family, normal); 
		
			th.nomobil, 
			td.nomobil {
				display: none;
			}
		}	
		table.hidecol1  { td:nth-child(1), th:nth-child(1) { display: none; } }
		table.hidecol2  { td:nth-child(2), th:nth-child(2) { display: none; } }
		table.hidecol3  { td:nth-child(3), th:nth-child(3) { display: none; } }
		table.hidecol4  { td:nth-child(4), th:nth-child(4) { display: none; } }
		table.hidecol5  { td:nth-child(5), th:nth-child(5) { display: none; } }
		table.hidecol6  { td:nth-child(6), th:nth-child(6) { display: none; } }
		table.hidecol7  { td:nth-child(7), th:nth-child(7) { display: none; } }
		table.hidecol8  { td:nth-child(8), th:nth-child(8) { display: none; } }
		table.hidecol9  { td:nth-child(9), th:nth-child(9) { display: none; } }
		table.hidecol10 { td:nth-child(10), th:nth-child(10) { display: none; } }
		table.hidecol11 { td:nth-child(11), th:nth-child(11) { display: none; } }
		table.hidecol12 { td:nth-child(12), th:nth-child(12) { display: none; } }
		table.hidecol13 { td:nth-child(13), th:nth-child(13) { display: none; } }
		table.hidecol14 { td:nth-child(14), th:nth-child(14) { display: none; } }
		table.hidecol15 { td:nth-child(15), th:nth-child(15) { display: none; } }
		
		/* Quelle http://elvery.net/demo/responsive-tables/ */
		/* #flip-scroll -> table-scroll */
		/* clear fix */
		table.table-scroll:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
		table.table-scroll thead:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

		/*#flip-scroll * html .cf { zoom: 1; }*/
		/*#flip-scroll *:first-child+html .cf { zoom: 1; }*/
		
		table.table-scroll { width: 100%; border-collapse: collapse; border-spacing: 0; }
 
		table.table-scroll th,
		table.table-scroll td { margin: 0; padding-top: 4px; padding-bottom: 4px; vertical-align: top; min-height: 20px; line-height: 20px; }
		table.table-scroll thead tr th { text-align: left; }
		table.table-scroll { display: block; position: relative; width: 100%; }
		table.table-scroll thead { display: block; float: left; }
		table.table-scroll tbody { display: block; width: auto; position: relative; overflow-x: auto; overflow-y: hidden; white-space: nowrap; }
		table.table-scroll thead tr { display: block; }
		table.table-scroll thead tr th { display: block; text-align: right; }
		table.table-scroll tbody tr { display: inline-block; vertical-align: top; }
		
		table.table-scroll tbody tr { display: inline-block; vertical-align: top; margin-left: -2px; } /* fix by fs */
		
		table.table-scroll tbody tr td,
		table.table-scroll tbody tr th { display: block; text-align: left; }

		/*
		table.table-scroll th.width150,
		table.table-scroll td.width150 {
			min-height: 40px;
			width: 150px;
		}

		table.table-scroll th.width175,
		table.table-scroll td.width175 {
			min-height: 40px;
			width: 175px;
		}

		table.table-scroll th.width200,
		table.table-scroll td.width200 {
			min-height: 40px;
			width: 200px;
		}
		*/
		
		/* sort out borders */
		table.table-scroll th { border-bottom: 0; border-left: 0; }
		table.table-scroll td { border-left: 0; border-right: 0; border-bottom: 0; }
                }
                
                .modulcontent .description p.claim1,
                .modulcontent .description p.claim2 {
                        .font(16, 20, @basefont-family, normal); 
                }
}
.content.content-links {
    padding: 0;
}
