/* Newsletter style */
#page-footer .acymailing_module {
	border: 1px dotted @color-grau !important;
	
	background-color: @color-weiss;
	&:hover{
		background-color: @color-grau-asch;
	}
	
	padding: 20px;
	min-height: 40px;
	.acymailing_fulldiv {
		margin: 0 -11px 0 -11px;
		padding-top: 5px;
                max-width: 960px;
	}
	h3, .onefield, acysubbuttons {
		padding: 0;
		margin: 0;
	}
	form {
		margin: 0;
	}
	.acymailing_introtext {
		width: 33.3333%;
		float: left;
                display: inline;
		padding: 0 10px;
                margin: 0;
                box-sizing: border-box;
	}
	h3 {
		font-weight: normal;
		color: @color-produktlogo;
		.font-size(28);
	}
	.acymailing_form {
		float:left;
		width: 66.6667%; /* OLD : 680px */
		padding: 0 10px;
                margin: 0;
                box-sizing: border-box;
		padding-top: 5px;
	}

	.fieldacyemail {
		padding: 0 10px 0 0;
		margin: 0;
		width: 50%;
		float:left;
                box-sizing: border-box;
		input {
			padding: 0 0 0 5px;
			.font(14, 14,@basefont-family, normal, normal);
			height: 22px;
			width: 100% !important;
			color: @color-grau;
			border-color: @color-grau-hell;
                        box-sizing: border-box;
		}
	}
	.acysubbuttons {
		padding: 0 0 0 10px;
		margin: 0;
		width: auto; /* OLD : 316px */
		float:left;
                box-sizing: border-box;
		input {
			height: 22px;
			.font(14, 14,@basefont-family, bold, uppercase);
			padding: 0 20px;
			border: 0 none;
/*			background-image: url(../../../images/layout/button-default.png);
			background-position: 0  -9px;*/
			color: @color-button-default;
			background-color: @color-button-default-bg;
			&:hover {
/*				background-position: 0 -48px;*/
				background-color: @color-button-default-hover-bg;
				color: @color-button-default-hover;
			}

		}
		input[disabled] {
			display:none;
		}
	}
	
}

#acymodifyform {
	h2 {
	    .font(21, 27, @basefont-family, normal);
		padding-bottom: 10px;
		color: @color-produktlogo;
	}
	fieldset {
		padding-left: 0;
                padding-right: 0;
		border:0;
	}
	.acystatus{
		.radiobox {
			margin-right: 10px;
			display: inline-block;
			position: relative;
			top: -1px;
		}
		label {
			margin-right: 15px;
		}
	} 
	#acyuserinfo{
		input[type="radio"] {
			margin-right: 5px;
			display: inline-block;
			position: relative;
			top: -1px;
		}
		label {
			margin-right: 15px;
		}
	}  
}

.acymailing_module.modul-icon {
    background-image: url('../../../images/layout/icon-mail-105x105.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 0 10px 0 137px;
    
    h3 {
        margin-top: 0px;
        padding-top: 0px;
        margin-bottom: 10px;
        color: @color-produktlogo;
        .font(28, 30,@basefont-family, normal, none);
        text-transform: none;
    
        strong {
            font-weight: normal;
        }
    }
    
    p {
	margin: 0 0 1em 0;
    }
    
    .acysubbuttons {
	text-align: left;
	
        input {
            /*
	    height: @field-size;
            width: 200px;
            text-align: center;
            padding: 5px 0;
            background-color: @color-produktlogo;
            border: 1px solid @color-produktlogo;
            border-radius: 3px;
            color: @color-weiss;
            box-sizing: border-box;
            font-weight: normal;
	    .font(14, 16, @basefont-family, normal, uppercase);
	    */
        }
    }
    
    .fieldacyemail {
        span.acyfield_email {
            width: 100%;

            input {
                height: @field-size;
                background-color: @color-weiss;
                border: 1px solid @color-produktlogo;
                border-radius: 3px;
                color: @color-grau;
                padding: 0 10px;
		margin: 9px 0 3px 0;
                width: 100% !important;
                box-sizing: border-box;
		.font(14, 16, @basefont-family, normal, none);
            }
        }
    }
}