/* Teaserboxen*/
.guteaserbox {
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    color: @color-grau-dunkel;
    h3 {
		margin-top: 0;
		padding-top: 0;
                margin-bottom: 0px;
		color: @color-produktlogo;
		.font(28, 30,@basefont-family, normal, none);
    }
	
	h4 {
		color: @color-produktlogo;
		font-weight: bold;
	}

	a.teaserboxlink {
		display: block;
		width: 100%;
		height: 100%;
		&:hover, &.hover {
			.description {
				display: block; 
			}
		}
		
	}
	
	.headlines, .description, .media {
		position: absolute;
		left: 0;
		top: 0;
	}
        .image {
            position: relative; /* OLD : absolute */
            left: 0;
            top: 0;
        }
	
    .headlines {
		h3 span, h4 span {
			margin: 0 30px 0 0;
			color: @color-weiss;
			padding: 8px 10px 4px 20px;
			background-color: @color-produktlogo;
			display: inline-block;
		}
		h3 {
			.font(14, 14, @basefont-family, bold, normal);
			margin: 0;
		}
		h4 {
			text-transform: uppercase;
			margin: 0;
			top: -2px;
			position: relative;
		}
    }
	.image {
		width: 100%;
		height: 100%;
		overflow: hidden;
		img {
			position: relative; /* OLD : absolute */
			right: 0;
                        width: 100%;
		}
		img.t_img_center {
			top: 0;
			left: -50%;
			right: -50%;
			bottom: 0;
			margin: auto;
		 }
	}

	.description {
		display: none;
		width: 100%;
		height: 100%;
		background-color: transparent;
		h4, h3 { 
			padding: 20px 0 0 20px;
			/*color: @color-blau;*/ 
			background-color: transparent;
			.font(18, 20,@basefont-family, normal);
		}
		p {
			color: @color-blau;
			.font(16, 18,@basefont-family, normal, none);
			padding-left: 20px;
			padding-right: 20px;
			line-height: 1.5em;
		}
		p span {
			color: @color-produktlogo;
		}
		.readmore {
			font-weight: bold;
			background-image: url("../../../images/layout/pfeil.png");
			background-repeat: no-repeat;
			background-size: 13px;
			background-position: left center;
			padding-left: 16px;
			margin-top: 10px;
		}
		.readmore:hover {
		}
	}
	&.textweiss .description{
		h3, h4, p {
			color: @color-weiss;
		}
	}
	&.textschwarz .description{
		h3, h4, p {
			color: @color-schwarz;
		}
	}
	&.textblau .description{
		h3, h4, p {
			color: @color-blau;
		}
	}
	&.textrot .description{
		h3, h4, p {
			color: @color-rot;
		}
	}
	&.textgrau .description{
		h3, h4, p {
			color: @color-grau-mittel;
		}
	}
	&.logofarbe1 .description{
		h3, h4, p {
			color: @color-produktlogo;
		}
	}
	&.logofarbe2 .description{
		h3, h4, p {
			color: @color-produktlogo2;
		}
	}
	
	&.showtext{
		.headlines { display:none; }
		.description{
			background-color: rgba(255,255,255,0.7);
			display: block;
			width: 300px;
			max-height: 220px;
			left: 60%;
			top: 40px;
			padding: 20px 10px;
			h4 {
				margin: 0;
				padding: 0;
				background-color: transparent;
				.font(28, 33,@basefont-family, bold, normal);
			}
			.claim1, .claim2 {
				padding-left: 0;
			}
		}
		.description.w350{ width: 350px; }
		.description.w400{ width: 400px; }
		.description.w450{ width: 450px; }
		.description.w500{ width: 500px; }
		.description.w550{ width: 550px; }
		.description.w600{ width: 600px; }
		.description.w650{ width: 650px; }
		.description.w700{ width: 700px; }
		.description.w750{ width: 750px; }
		.description.w800{ width: 800px; }
		.description.w850{ width: 850px; }
		.description.w900{ width: 900px; }
		.description.l50{ left: 50px; }
		.description.l100{ left: 100px; }
		.description.l150{ left: 150px; }
		.description.l200{ left: 200px; }
		.description.l250{ left: 250px; }
		.description.l300{ left: 300px; }
		.description.l332{ left: 332px; }
		.description.lc2{ left: 332px; }
		.description.l350{ left: 350px; }
		.description.l400{ left: 400px; }
		.description.l450{ left: 450px; }
		.description.l500{ left: 500px; }
		.description.l550{ left: 550px; }
		.description.l600{ left: 600px; }
		.description.l650{ left: 650px; }
		.description.l665{ left: 665px; }
		.description.lc3{ left: 665px; }
	}
	
	.media {
		text-align: center;
		margin: 130px auto 0 auto;
		right: 0;
		span {
			display: inline-block;
			color: @color-weiss;
			background: @color-schwarz;
			background: rgba(0,0,0,0.9);
			border: 1px solid @color-grau-hell;
			padding: 13px 33px 9px 13px;
			font-weight: bold;
			text-transform: uppercase;
			background-image: url(../../../images/layout/play.png);
			background-position: center right;
			background-repeat: no-repeat;
		}
		span:hover {
			text-decoration: underline;
		}
	}
	.teaserboxmore {
		display: none;
	}
	
	.teaservisual, .teaservisualsprechblase {
		position: absolute;
		div {
			position: absolute;
			top: 0;
			left: 0;
			padding: 10px;
		}
	}
	
	.teaservisualsprechblase div {
		.font(19, 23,@basefont-family, bold, normal);
		padding-top: 28px;
		span {
			color: @color-produktlogo;
		}
	}
	
	.calltoaction {
		position:absolute;
		span {
			/*display: inline-block;*/
			color: @color-weiss;
/*			padding: 6px 5px 3px 5px;*/
			font-weight: bold;
			text-transform: uppercase;
		}
		a:hover, a:hover span { 
			text-decoration: underline;
		}
		div.readmore{
			text-align: center;
			line-height: 1.5;
			padding: 4px 5px 2px;
		}


	}
	p.readmore {
		line-height: 1;
		margin-bottom: 0;
	}
	

}

.content .tagspopular {
	background-color: @color-produktlogo;
	min-height: 80px;
	height: auto;
	overflow: hidden;
	margin-bottom: 30px;
	padding: 15px;
	/*text-align: justify;*/
	line-height: auto;
	.font(19, 28, @basefont-family, normal);
	li {
		list-style-type: none;
		background-image: none;
		float: left;
		padding-right: 15px;
		padding-left: 0;		
	}
	span {
		padding:0;
		margin-right: 5px;
		display: inline-block;
	}
	a {
		color: @color-weiss;
	}
}

.spalterechts .custom {
	padding: 20px 22px;
	background-color: @color-grau-asch;
	margin-bottom: 30px;
}

.homelayout .guteaserbox {
	.claim1, claim2 {
		.font(16, 22,@basefont-family, normal, none); 
	}
}

.moduletable.home-kontakt {
    background-image: url('../../../images/layout/icons-105x105.png');
    background-repeat: no-repeat;
    background-position: 10px center;
    padding: 0 10px 0 137px;
    min-height: 122px;
    
    h3 {
	margin: 0 0 8px 0;
    }
    
    p {
	margin: 1em 0;
    }
    
    h3 + p {
	margin: 0;
    }
    
    p.claim1 {
        margin-bottom: 46px;
        
        span.readmorelink {
            height: @field-size;
            width: 200px;
            text-align: center;
            background-color: @color-produktlogo;
            border: 1px solid @color-produktlogo;
            border-radius: 3px;
            color: @color-weiss;
            position: absolute;
            bottom: 0px;
            left: 0px;
            box-sizing: border-box;
            font-size: 0.876em;
	    text-transform: uppercase;
	    line-height: 30px;
        }
	span.readmorelink:hover {
	    text-decoration: none;
	    background-color: @color-button-default-hover-bg;
	    border-color: @color-button-default-hover-bg;
	    color: @color-button-default-hover;
	}
    }
}