/* 
	Komponenten übergreifende styles
*/

#verwandtethemen {
	ul, li {
		margin-left: 0;
	}
	li {
		list-style-type: none;
		list-style-image: none;
	}
}

.tag-category {
	h1 {
	    .font(21, 27, @basefont-family, normal);
		padding-bottom: 10px;
		color: @color-produktlogo;
	}
	h3 {
	    .font(15, 18, @basefont-family, normal);
		padding: 0;
		margin: 0;
	}
	h3 a{
		color: @color-schwarz;
	}
	h4 {
		.font(21, 27, @basefont-family, normal);
		padding: 0;
		margin: 0;
		padding-bottom: 10px;
	}
	h3 a:hover, h4 a:hover,
	h3 a:hover span, h4 a:hover span {
		text-decoration: underline;
/*		text-decoration:none;*/
	}
	.cat-list-row{
		padding: 10px 0;
	}
}