/* Modul-Slider Bühne */
/* Basic jQuery Slider essential styles */
ul.bjqs {
	position: relative; 
	list-style: none;
	padding: 0;
	margin: 0;
	/* overflow: hidden; */ 
	display: none;
        
        touch-action: pan-y;
        -ms-touch-action: pan-y;
}

li.bjqs-slide {
	position: absolute; 
	display: none;
}

ul.bjqs-controls {
	list-style: none;
	margin: 0;
	padding: 0;
	z-index: 9999;
}

ul.bjqs-controls.v-centered li a {
	margin: auto;
        position: absolute;
        top: 0; bottom: 0;
        color: transparent;
        height: 79px;
        width: 38px;
}

ul.bjqs-controls.v-centered li.bjqs-next a {
	right: 0;
        background-image: url(../../../images/layout/pfeil-gross-li.png);
}

ul.bjqs-controls.v-centered li.bjqs-prev a {
	left: 0;
        background-image: url(../../../images/layout/pfeil-gross-re.png);
}

ol.bjqs-markers { 
	list-style: none;
	padding: 0;
	margin: 0;
	width:100%;
}

ol.bjqs-markers.h-centered { 
	text-align: center;
}

ol.bjqs-markers li {
	display: inline;
}

ol.bjqs-markers li a {
	display: inline-block;
}

p.bjqs-caption {
	display: block;
	width: 96%;
	margin: 0;
	padding: 2%;
	position: absolute;
	bottom: 0;
}

/* Template spezifische styles */
ol.bjqs-markers {
	margin: 4px 0;
}

ol.bjqs-markers li {
	margin: 0 7px;
}

ol.bjqs-markers li a {
	font-size: 10px;
	line-height: 10px;
	text-indent: 9999px;
	background-color: @color-grau-hell;
	border: 1px solid weis;
	.border-radius(5px);
	overflow: hidden;
	width:10px;
	height:10px;
}

ol.bjqs-markers li.active-marker a {
	background-color: @color-produktlogo;
}