//
// Cookie Hint
// --------------------------------------------------

@cookieHintColor:         #fff;
@cookieHintBackground:    #71706F;

@zindexCookieHint:        9999999;

#cookieHint {
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: @cookieHintBackground;
    width: 100%;
    z-index: @zindexCookieHint;
    div {
        color: @cookieHintColor;
        float: none;
	line-height: 1.71429em;
        padding: 20px;
        margin: 0 auto;
	max-width: 920px;
	p {
	    margin: 0;
	}
	span {
	    font-size: 1.71429em;
	}
	a {
	    border-bottom: 1px solid @cookieHintColor;
	    color: @cookieHintColor;
	    font-weight: bold;
	    text-decoration: none;
	}
	a:hover, a:focus {
	    border-bottom: none;
	    text-decoration: none;
	}
    }
}

#cookieHintCloser {
    cursor: pointer;
}
