/* Create font size mixin */

.font-size( @target ) {
    font-size: ( floor( ( ( @target / @basefont-size ) * 1000 ) ) / 1000 + 0em );;
}

.line-height( @target, @height ) {
    @line-height: ( @height / @target );
	@lh: ( @line-height * 1000 );
	@lh: (floor( @lh ) / 1000 + 0em );
    line-height: @lh;
}

.font(@target, @height, @fonts, @style: normal, ...) {
	@fs: ( @target / @basefont-size * 1000 );
    @font-size: ( floor( @fs ) / 1000 + 0em ); 
    @line-height: ( @height / @target + 0em );
    font: @style @font-size/@line-height @fonts;
}

.font(@_, @_, @_, @_, @textTransform) {
    text-transform: @textTransform;
}


/* Linotype.com Web Fonts */
/* Lizenz/Aufrufzähler */
@import url("http://fast.fonts.net/lt/1.css?apiType=css&c=552a56f2-4f38-4a03-8fc2-037a5368a6fc&fontids=739461,739473"); 
@font-path1: "../fonts/Helvetica-Condensed-739461";
@font-face{
	
	font-family:"Helvetica W02 Cn";
	src:url("@{font-path1}/d37d735d-4b02-4668-821a-e5f89e665f39.eot?#iefix");
	src:url("@{font-path1}/d37d735d-4b02-4668-821a-e5f89e665f39.eot?#iefix") format("eot"),
		url("@{font-path1}/5fe9a378-cd0e-40bb-aaf5-8cc3f3207684.woff") format("woff"),
		url("@{font-path1}/ad87d55f-b33d-4b5b-b8f7-ca20a94db3f2.ttf") format("truetype"),
		url("@{font-path1}/218aa0ac-ac1c-4078-951d-a3585a525d72.svg#218aa0ac-ac1c-4078-951d-a3585a525d72") format("svg");
}

@font-path2: "../fonts/Helvetiva-Bold-Condensed-739473";
@font-face{
	
	font-family:"Helvetica W02 Blk Cn";
	src:url("@{font-path2}/b5341fad-b3e0-4fc0-ad6a-37e8064e149d.eot?#iefix");
	src:url("@{font-path2}/b5341fad-b3e0-4fc0-ad6a-37e8064e149d.eot?#iefix") format("eot"),
		url("@{font-path2}/b1dc6af4-e159-4de5-9a56-fba1e2f6316d.woff") format("woff"),
		url("@{font-path2}/354b2be7-3f8d-4222-b185-8445e0104200.ttf") format("truetype"),
		url("@{font-path2}/daea9df1-f3c1-4cbe-9302-636114bf4f38.svg#daea9df1-f3c1-4cbe-9302-636114bf4f38") format("svg");
}