/* Formular Elemente */

/* Basics */

::-webkit-input-placeholder {
   color: #000;
}

:-moz-placeholder { /* Firefox 18- */
   color: #000;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #000;  
}

:-ms-input-placeholder {  
   color: #000;  
}

input,
button,
.button,
select,
textarea {
	-webkit-border-radius: 0; /* runde ecken entfernen */
	border-radius: 0;
	font-family: @basefont-family;
	font-size: 1em;
	font-weight: normal;
	vertical-align: middle;
}

input,
select,
textarea {
	color: @color-form-elements-text;
	border-color: @color-form-elements-border;
	background-color: @color-form-elements-bg;
}

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"] {
	display: inline-block;
	position: relative;
	top: -3px;
	margin: 0;
	*margin-top: 0; /* IE7 */
	margin-top: 1px \9; /* IE8-9 */
	line-height: normal;
	border: 0.0625em solid @color-produktlogo;
}

// Reset width of input images, buttons, radios, checkboxes
input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto; // Override of generic input selector
}

input[type="text"], 
input[type="email"],
input[type="password"] {
    /*
	border-style: solid;
	border-width: 1px;
	padding: 4px 0 4px 2px;
	font-size: 14px !important; 
	line-height: 14px !important; 
	-webkit-appearance: none; 
    appearance: none;
    */
    height: @field-size;
    background-color: @color-weiss;
    border: 1px solid @color-produktlogo;
    border-radius: 3px;
    color: @color-produktlogo;
    padding: 0 10px;
    box-sizing: border-box;
    .font(14, 16, @basefont-family, normal, none);
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button, .button {
	/*
	border-style: solid;
	border-width: 1px;
	color: @color-form-button-text;
	border-color: @color-form-button-border;
	background-color: @color-form-button-bg;
	padding: 4px 10px 3px 10px;
	font-weight: bold;
 */
/*	&:hover {
		background-color: @color-button-default-hover-bg;
		color: @color-button-default-hover;
	}*/
	height: @field-size;
	width: 200px;
	text-align: center;
	padding: 5px 0;
	background-color: @color-produktlogo;
	border: 1px solid @color-produktlogo;
	border-radius: 3px;
	color: @color-weiss;
	box-sizing: border-box;
	font-weight: normal;
	.font(14, 16, @basefont-family, normal, uppercase);
}

legend {
	color: @color-form-legend-text;
}

label {
	color: @color-form-label-text;
}

fieldset {
	border: 1px solid @color-form-fieldset-border;
	margin: 20px 0 20px 0;
	padding: 10px 10px 10px 10px;
}

textarea {
	background-color: @color-weiss;
	border: 1px solid @color-produktlogo;
	border-radius: 3px;
	color: @color-produktlogo;
	padding: 5px 10px;
	box-sizing: border-box;
	.font(14, 16, @basefont-family, normal, none);
}

select {
	cursor: pointer;
/*	padding: 5px 20px 3px 2px;*/
	/* -webkit-appearance: none; */ /* schatten etc entfernen */
	/* -webkit-border-radius: 0; */ /* runde ecken entfernen */
/*	appearance: none;*/
	/* text-indent: 0.01px; */ /* Removes default arrow from firefox*/
	/* text-overflow: ""; */ /*Removes default arrow from firefox*/
	/* background: #ffffff url(../../../images/layout/pfeil-unten-select-grau.png) no-repeat;*/  /*Adds background-image*/
	//background-position: right center;  /*Position of the background-image*/
	height: @field-size;
	background-color: @color-weiss;
	border: 1px solid @color-produktlogo;
	border-radius: 3px;
	color: @color-produktlogo;
	padding: 0 10px;
	box-sizing: border-box;
	.font(14, 16, @basefont-family, normal, none);
}

select::-ms-expand {
    display:none;
    /* or visibility: hidden; to keep it's space/hitbox */
}

option {
	/* Abstand der Werte erhöhen */
	border:2px solid @color-form-elements-bg;
	padding: 3px 0 1px 3px;
}

option[selected="selected"] {
    color: @color-form-elements-focus-text;
    font-weight: normal;
}


/* Disabled */
option[disabled=disabled]{
	display:none;
	height:0;
	visibility: hidden;
}

input[type="button"].disabled,
input[type="reset"].disabled,
input[type="submit"].disabled,
input[type="button"][disabled],
input[type="reset"][disabled],
input[type="submit"][disabled],
button[disabled],
button[disabled="disabled"]{
	border-color: @color-form-elements-disabled-border;
	color: @color-form-elements-disabled-border;
	background-color: @color-form-elements-disabled-bg;
}


/* Activ, Focus und Hover */
/* Active */
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"].active,
input[type="reset"].active,
input[type="submit"].active,
button:active, 
button.active {	
	background-color: @color-form-button-active-bg;
	border-color: @color-form-button-active-border;
	color: @color-form-button-active-text;

}
/* Buttons Hover */
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:hover{
	background-color: @color-button-default-hover-bg;
	border-color: @color-button-default-hover-bg;
	color: @color-button-default-hover;
}

input:focus,
textarea:focus,
select:focus {
/*	
    border-color: @color-form-elements-focus-border;
	color: @color-form-elements-focus-border;
	background-color: @color-form-elements-focus-bg;
*/
}
select:focus {
/*	background: #ffffff url(../../../images/layout/pfeil-unten-select-blau.png) no-repeat  right 10px;*/
}

/* Buttons Focus */
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:focus {
    /*
	border-color: @color-form-button-focus-border;
	color: @color-form-button-text;
	background-color: @color-form-button-focus-bg;
    */
}


/* Erweitert */

/* Andere Farbe falls Input Feld den Default Wert hat. Per Javascript steuern */
input.defaultTextActive {
	color: @color-produktlogo;
}


/* Link */
a.button:hover{
	//text-decoration: underline;
}

fieldset {
	.btn-group{
		float: left;
	}
	.pull-right {
		float:right;
	}
}
/* Module und Komponenten */	
.experten-energie-newsarchiv fieldset.filters {
	margin-left: 2px;
	margin-right: 2px;
}

#finder-search{
	margin-top: 20px;
	fieldset{
	    border: none;
	    margin-bottom: 0;
	}
	label, a.btn {
		display: inline-block;
		position: relative;
		top: 1px;
	}
	a.btn{
		width: 100%;
                margin-top: 20px;
	}

	.btn {
		width: auto;
	    height: @field-size;
            text-align: center;
            background-color: @color-produktlogo;
            border: 1px solid @color-produktlogo;
            border-radius: 3px;
            color: @color-weiss;
            box-sizing: border-box;
            font-weight: normal;
	    .font(14, 16, @basefont-family, normal, uppercase);
	}
	input[type="text"] {
		border-style: solid;
		border-width: 1px;
		font-size: 14px !important;
		line-height: 14px !important;
	}
}


.mailto-window {
    padding-left:20px;
    h2 {
		.font(15, 20, @basefont-family, bold);
    }
    .formelm{
		height: 30px;
    }
    label {
		display: inline-block;
		width: 100px;
		padding-top: 5px;
    }
    .inputbox {
		width: 265px;
    }
}


/* Erinnerung Benutzername und Passwort-Reset*/
#user-registration {
	margin-top: 20px;
	border: 1px solid @color-form-fieldset-border;
	padding: 15px;
	p {
		line-height: 1.5em;
	}
	fieldset {
		border: 0 none;
		margin: 0;
		line-height: 1.5em;
		padding: 0;
	}
	.form-actions{
		padding-top: 15px;
	}
}


.customSelect { 
	background:#fff url(../../../images/layout/pfeil-unten-select-grau.png) right center no-repeat;
    color: @color-form-elements-text;
	border-color: @color-form-elements-border;
	border-style: solid;
	border-width: 1px;
	background-color: @color-form-elements-bg;
    padding: 6px 5px 4px 5px;
}

.customSelect.customSelectHover {
	background: #ffffff url(../../../images/layout/pfeil-unten-select-blau.png) no-repeat  right 10px;
	border-color: @color-form-elements-focus-border;
	color: @color-form-elements-focus-border;
	background-color: @color-form-elements-focus-bg;

}

.customSelect.customSelectOpen {
/* Styles for when the select box is open */
}

.customSelect.customSelectFocus {
/* Styles for when the select box is in focus */
}

.customSelect.customSelectDisabledOption {
/* Styles for when the selected item is a disabled one */
}

.customSelect.customSelectDisabled {
/* Styles for when the select box itself is disabled */
}

.customSelectInner {
/* You can style the inner box too */
}

// Chosen Framework
#experten-energietemplate .chzn-container-single {
	.chzn-single {
		border-radius: 0;
		height: 20px;
    line-height: 20px;
		div b {
			background: url(../../../images/layout/button-20x20.png) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}

	.button-default, .button-blau, .button-rot, 
	.button-gruen, .button-gelb, .button-schwarz, 
	.button-weiss {
		.font-size(14);
		display:inline-block;
		padding: 2px 10px 2px;
		background-position: 0 -10px;
		span, span:hover {
			background-color: inherit;
		}
	}
	
	.button-default:hover, .button-blau:hover, .button-rot:hover, 
	.button-gruen:hover, .button-gelb:hover, .button-schwarz:hover, 
	.button-weiss:hover {
		background-position: 0 -50px;
	}
	
	.button-default {
		/*background-image: url(../../../images/layout/button-default.png);*/
		background-color: @color-button-default-bg;
		color: @color-button-default;
		&:hover {
			background-color: @color-button-default-hover-bg;
			color: @color-button-default-hover;
		}
	}
	
	.button-rot {
		/*background-image: url(../../../images/layout/button-rot.png);*/
		background-color: @color-button-rot-bg;
		color: @color-button-rot;
		&:hover {
			background-color: @color-button-rot-hover-bg;
			color: @color-button-rot-hover;
		}
	}
		
	.button-blau {
		/*background-image: url(../../../images/layout/button-blau.png);*/
		background-color: @color-button-blau-bg;
		color: @color-button-blau;
		&:hover {
			background-color: @color-button-blau-hover-bg;
			color: @color-button-blau-hover;
		}
	}
	
	.button-gruen {
		/*background-image: url(../../../images/layout/button-gruen.png);*/
		background-color: @color-button-gruen-bg;
		color: @color-button-gruen;
		&:hover {
			background-color: @color-button-gruen-hover-bg;
			color: @color-button-gruen-hover;
		}
	}
	
	.button-gelb {
		/*background-image: url(../../../images/layout/button-gelb.png);*/
		background-color: @color-button-gelb-bg;
		color: @color-button-gelb;
		&:hover {
			background-color: @color-button-gelb-hover-bg;
			color: @color-button-gelb-hover;
		}
	}
	
	.button-schwarz {
		/*background-image: url(../../../images/layout/button-schwarz.png);*/
		background-color: @color-button-schwarz-bg;
		color: @color-button-schwarz;
		&:hover {
			background-color: @color-button-schwarz-hover-bg;
			color: @color-button-schwarz-hover;
		}
		
	}
	.button-weiss {
		/*background-image: url(../../../images/layout/button-weiss.png);*/
		background-color: @color-button-weiss-bg;
		color: @color-button-weiss;
		&:hover {
			background-color: @color-button-weiss-hover-bg;
			color: @color-button-weiss-hover;
		}
	}