/*** General definitions ***/

/* Farben */

@color-produktlogo     : #014587;
@color-produktlogo2    : #8d9ebd;
@color-produktlogohover: #014587;

@color-schwarz         : #333333;
@color-weiss           : #ffffff;

@color-grau-dunkel     : #71706F;
@color-grau            : #888888;
@color-grau-hell       : #c5c5c5;
@color-grau-asch       : #ececed;

@color-grau-mittel     : #575756;
@color-grau-zart       : #FFFF00;
@color-grau-blau       : #FFFF00;
@color-gruen           : #FFFF00;
@color-gruen-hell      : #FFFF00;

@color-blau-dunkel     : #004899;
@color-blau            : #014587;
@color-blau-hell       : #4485c4;
@color-blau-hover      : #96c2e9;
@color-violett         : #FFFF00;
@color-mocca           : #FFFF00;
@color-gruen-gras      : #FFFF00;
@color-orange          : #FFFF00;
@color-gelb            : #e8b329;
@color-rot             : #b02f34;
@color-magenta         : #FFFF00;
@color-bordeaux        : #7F1819;
@color-fehler          : @color-rot;

/* Farbzuweisungen */
@color-body-bg: @color-weiss;
@color-page-bg: @color-weiss;

@color-header-bg : @color-grau-asch;

@color-hauptnavigation-bg: @color-weiss;
@color-hauptnavigation-text: @color-schwarz;

@color-navigator-bg : @color-grau-asch;
@color-navigator-text: @color-produktlogo;


@color-search-bg: @color-grau-asch;
@color-search-text: @color-produktlogo;
@color-search-border: @color-grau-asch;

@color-hotline: @color-schwarz;
@color-footer-bg : @color-grau-dunkel;
@color-footer-text : #CFCFCF;
@color-footer-link: #CFCFCF;


/* Formular elemente */
@button-hover-aufhellung: 8%;

@color-button-default: @color-weiss;
@color-button-default-hover: @color-weiss;
@color-button-default-bg: @color-produktlogo;
@color-button-default-hover-bg: @color-produktlogo2;
/*@color-button-default-hover-bg: lighten(@color-button-default-bg, @button-hover-aufhellung);*/

@color-button-rot: @color-weiss;
@color-button-rot-hover: @color-weiss;
@color-button-rot-bg: #CC2B31;
@color-button-rot-hover-bg: #DB6B6F;
/*@color-button-rot-hover-bg: lighten(@color-button-rot-bg, @button-hover-aufhellung);*/

@color-button-blau: @color-weiss;
@color-button-blau-hover: @color-weiss;
@color-button-blau-bg: #006FB9;
@color-button-blau-hover-bg: #329AD1;
//@color-button-blau-hover-bg: lighten(@color-button-blau-bg, @button-hover-aufhellung);

@color-button-gruen: @color-weiss;
@color-button-gruen-hover: @color-weiss;
@color-button-gruen-bg: @color-gruen;
@color-button-gruen-hover-bg: lighten(@color-button-gruen-bg, @button-hover-aufhellung);

@color-button-gelb: @color-schwarz;
@color-button-gelb-hover: @color-schwarz;
@color-button-gelb-bg: @color-gelb;
@color-button-gelb-hover-bg: @color-gelb;

@color-button-schwarz: @color-weiss;
@color-button-schwarz-hover: @color-weiss;
@color-button-schwarz-bg: @color-schwarz;
@color-button-schwarz-hover-bg:  lighten(@color-button-schwarz-bg, @button-hover-aufhellung);

@color-button-weiss: @color-weiss;
@color-button-weiss-hover: @color-weiss;
@color-button-weiss-bg: @color-schwarz;
@color-button-weiss-hover-bg:  darken(@color-button-weiss-bg, @button-hover-aufhellung);

@color-button-bordeaux: @color-weiss;
@color-button-bordeaux-hover: @color-weiss;
@color-button-bordeaux-bg: #7F1819;
@color-button-bordeaux-hover-bg: #329AD1;

/* -------------- */
@color-form-elements-text: @color-grau;
@color-form-elements-bg: @color-weiss;
@color-form-elements-border: @color-grau-hell;

@color-form-elements-focus-text: @color-grau-dunkel;
@color-form-elements-focus-bg: @color-weiss;
@color-form-elements-focus-border: @color-grau-dunkel;

@color-form-elements-disabled-text: @color-grau;
@color-form-elements-disabled-bg: @color-weiss;
@color-form-elements-disabled-border: @color-grau;

@color-form-elements-error-text: @color-grau-dunkel;
@color-form-elements-error-bg: @color-weiss;
@color-form-elements-error-border: @color-grau-dunkel;

@color-form-button-text: @color-button-default;
@color-form-button-bg: @color-button-default-bg;
@color-form-button-border: @color-button-default-bg;

@color-form-button-active-text:   @color-button-default;
@color-form-button-active-bg: 	  @color-button-default-hover-bg;
@color-form-button-active-border: @color-button-default-hover-bg;

@color-form-button-focus-text:   @color-button-default;;
@color-form-button-focus-bg:     @color-button-default-bg;
@color-form-button-focus-border: @color-button-default-bg;

@color-form-button-disabled-text:   @color-weiss;
@color-form-button-disabled-bg:     @color-grau;
@color-form-button-disabled-border: @color-grau;

@color-form-label-text:  @color-schwarz;
@color-form-legend-text: @color-schwarz;

@color-form-fieldset-bg:     @color-weiss;
@color-form-fieldset-border: @color-grau;

/* Teaserbox */
@color-teaserbox-bg: @color-grau-asch;
@color-teaserbox-text: @color-schwarz;

/* Systemmeldungen, Fehler usw. */
@color-system-message-bg: @color-grau-dunkel;
@color-system-message-text: @color-schwarz;

/* Typografie / Schriften */
@basefont-size: 16;									/* Fliesstext-Schriftgroesse in px ohne Einheit */
@basefont-family: Arial, Helvetica, sans-serif;     /* Fliesstext-Schriftart */

@font-family-base: @basefont-family; 
@font-size-base: @basefont-size;
@line-height-base: 1.5;

/* Abmessungen */
/* Layout / Grid */
@grid-column-width: 316px;

@page-width: 980px;
@page-margin: 20px;
@page-inner-width: 940px;
@grid-column-count: 12;
@grid-gutter: 20px; /* Steg / Abstand der Spalten zueinander */
@grid-row-gutter: 16px; /* Steg / Abstand der Zeilen zueinander */

/* Actionicons */
@action-icons-width: 24px;
@action-icons-height: 32px;
@color-actionicons-bg: @color-grau;

/* input, button, ... */
@field-size:        31px;      /* height of form element */
@field-size-mobil:  31px;      /* height of form element, mobil version */

			
@search-width: 288px;
@search-height: 31px;


/* Bilder */
@img-newsblog-height: 180px;
@img-newsblog-width:  270px;

/* @precision:                3;*/						/* round precision  */

/*** boxes ***/
@box-width:             310px;
@box-height:            300px;
@box-border:              0px;
@box-margin-right:       15px;
@box-margin-bottom:      15px;
@box-space:              15px;


/** boxes (teaser) ***/
@padding-all:            20px;
@padding-left:           20px;
@padding-right:          20px;
@padding-big:            60px;
@padding-mobil:          20px;

@table-head-height:      18px;

/***********/
@box-bordered-width:     @box-width  + @box-border;
@box-bordered-height:    @box-height + @box-border;

/* Layout Breakpoints */
@spalten-3: @box-width + @box-margin-right + @box-width + @box-margin-right + @box-width;
@spalten-2: @box-width + @box-margin-right + @box-width;
@spalten-1: @box-width;

/* ALTE */
//@layout-breakpoint-1: @spalten-3 + @action-icons-width + @action-icons-width + 0px;		/* 3-Spaltig zentriert */
//@layout-breakpoint-2: @spalten-3 + @action-icons-width + 0px;							/* 3-Spaltig rechter Rand fix */
//@layout-breakpoint-3: 800px;													/* 3-Spaltig Actionicons oben */
//@layout-breakpoint-4: @spalten-2 + 0px;													/* 2-Spaltig */

@layout-breakpoint-0: 1200px;
@layout-breakpoint-1: 991px;		/* 3-Spaltig zentriert */
@layout-breakpoint-2: 960px;							/* 3-Spaltig rechter Rand fix */
@layout-breakpoint-3: 940px;													/* 3-Spaltig Actionicons oben */
@layout-breakpoint-4: 768px;                                                    /* 2-Spaltig */
@layout-breakpoint-5: 620px;
@layout-breakpoint-6: 400px;