/* CSS Reset */
@import url("general.normalize.less");
/* Mixins */
@import url("mixins.less");

html {
    font-family: @basefont-family;
    font-size: (@basefont-size + 0px);
}

body {
    background-color: @color-weiss;
    font-size: 100.01%;
    /* font-size bug fix for iphone. iPhone must not alter font-size. */
    -webkit-text-size-adjust: none;
}

html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}

.clear {
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

#system-message {
    padding-left: 20px;
}

/*** General Content Style ***/
*::selection {
	background: @color-produktlogo;
	color: #ffffff;
}

*::-moz-selection {
	background-color: @color-produktlogo;
	color: #ffffff;
}


ol, ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

/*******************/
/* redefine focus, hide focus outline */
a:focus, :focus {
    outline: 0;
}

a {
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* IOS/Android verhindert das graue Link-Overlay*/
	text-decoration: none;
	color: @color-grau;
	
	&:hover {
		color: @color-produktlogo;
	}
}

/*******************/
/* hidden class */
.hidden {
	display: none;
}

h1 {
    .font(16, 20, @basefont-family, normal, normal);
}
h2 {
    .font(28, 32, @basefont-family, bold, normal);
    margin: 18px 0 50px 0;
}
h3 {
    .font(20, 24, @basefont-family, bold, normal);
    margin: 32px 0 20px 0;
}
h4 {
    
}
p {
    .font(16, 20, @basefont-family, normal, normal);
    margin: 1.5em 0;
}