// Opacity
/* http://www.highresolution.info/weblog/entry/transparente_hintergruende_mit_css/
/* partial opacity hack: configuration */ 
.opacity(@opacity) {
    opacity: ( @opacity / 100 );
	-moz-opacity: ( @opacity / 100 );  /* older Mozilla browser */  
	-ms-filter: ~'"progid:DXImageTransform.Microsoft.Alpha(Opacity=@{opacity})"'; /* IE8 in Standard Compliant Mode */  
    filter: ~"alpha(opacity=@{opacity})"; /* IE5.x -7.0 */   
}

/* Farbverläufe und Transparenz */

/* partial opacity hack, part I: Don't change the following properties! */  
.opacity-wrapper,  
.opacity-wrapper * {  
    position:relative;  
}  
  
.opacity {   
    /* partial opacity hack, part II: Don't change the following properties! */  
    width: 100%;  
    height: 100%;  
    position: absolute;  
    top: 0;  
    left: 0;
	.opacity(90);
}   
  
/* partial opacity hack, part III: IE6 support */  
* html .opacity-wrapper {   
    overflow: hidden;  
}  
* html .opacity {   
    width: 4000px;   
    height: 4000px;  
}