/* 
    GU - Grid-System
    Author : Thomas Langer
*/

/* @grid-column-count: 12;   Anzahl Spalten */
/* @grid-gutter:       20px; Steg / Abstand der Spalten zueinander */
/* @grid-row-gutter:   16px; Steg / Abstand der Zeilen zueinander */

@page-width: 980px;
@page-margin: 20px;
@page-inner-width: 940px;

@grid-width: @page-width;
@grid-outer-width: @page-width;
@grid-margin:      @page-margin;
//@grid-inner-width: (@grid-width - (@grid-inner-margins * 2));

/* Mixins */



.gridcol(@cols){
	width: ((( @cols / @grid-column-count ) * 100) + 0%);
}

.grid-generate(@n, @i: 1) when (@i =< @n) {
	.grid-@{i}-col {
		.gridcol(@i);
		float: left;
	}

	.grid-push-@{i}-col {
		margin-left: (((@i / @grid-column-count) * 100) + 0%);
		float: left;
	}

	.grid-pull-@{i}-col {
		@t: (((@i / @grid-column-count) * 100) + 0%);
		margin-left: -@t;
		float: left;
	}
	
	.grid-generate(@n, @i + 1);
}

.grid-generate-md(@n, @i: 1) when (@i =< @n) {
	.grid-md-@{i}-col {
		.gridcol(@i);
		float: left;
	}

	.grid-md-push-@{i}-col {
		margin-left: ((@i / @grid-column-count) * 100) + 0%;
		float: left;
	}

	.grid-md-pull-@{i}-col {
		margin-left: -((@i / @grid-column-count) * 100) + 0%;
		float: left;
	}
	
	.grid-generate-md(@n, (@i + 1));
}

.grid-generate-sd(@n, @i: 1) when (@i =< @n) {
	.grid-sd-@{i}-col {
		.gridcol(@i);
		float: left;
	}

	.grid-sd-push-@{i}-col {
		margin-left: ((@i / @grid-column-count) * 100) + 0%;
		float: left;
	}

	.grid-sd-pull-@{i}-col {
		margin-left: -((@i / @grid-column-count) * 100) + 0%;
		float: left;
	}
	
	.grid-generate-sd(@n, (@i + 1));
}

.grid-reset(){
	.grid-auto-col, .grid-1-col, .grid-2-col, .grid-3-col, .grid-4-col, .grid-5-col,
	.grid-6-col, .grid-7-col, .grid-8-col, .grid-9-col, .grid-10-col,
	.grid-11-col, .grid-12-col {
		width: auto;
		display: block;
		float: none;
	}
	.grid-push-1-col, .grid-push-2-col, .grid-push-3-col, .grid-push-4-col, .grid-push-5-col,
	.grid-push-6-col, .grid-push-7-col, .grid-push-8-col, .grid-push-9-col, .grid-push-10-col,
	.grid-push-11-col, .grid-push-12-col {
		margin-left: 0;
	}
}

.grid-md-reset(){
	.grid-md-1-col, .grid-md-2-col, .grid-md-3-col, .grid-md-4-col, .grid-md-5-col,
	.grid-md-6-col, .grid-md-7-col, .grid-md-8-col, .grid-md-9-col, .grid-md-10-col,
	.grid-md-11-col, .grid-md-12-col {
		width: auto;
		display: block;
		float: none;
	}
	.grid-md-push-1-col, .grid-md-push-2-col, .grid-md-push-3-col, .grid-md-push-4-col, .grid-md-push-5-col,
	.grid-md-push-6-col, .grid-md-push-7-col, .grid-md-push-8-col, .grid-md-push-9-col, .grid-md-push-10-col,
	.grid-md-push-11-col, .grid-md-push-12-col {
		margin-left: 0;
	}
}

.grid-md(){
	.grid-generate-md(@grid-column-count);
	.grid-md-hide {
		display: none;
	}
	.grid-md-show {
		display: inline;
	}
}

.grid-sd(){
	.grid-generate-sd(@grid-column-count);
	.grid-sd-hide {
		display: none;
	}
	.grid-sd-show {
		display: inline;
	}
}

.grid-sd-reset(){
	.grid-sd-1-col,  .grid-sd-2-col, .grid-sd-3-col, .grid-sd-4-col, .grid-sd-5-col,
	.grid-sd-6-col,  .grid-sd-7-col, .grid-sd-8-col, .grid-sd-9-col, .grid-sd-10-col,
	.grid-sd-11-col, .grid-sd-12-col {
		width: auto;
		display: block;
		float: none;
	}
	.grid-sd-push-1-col,  .grid-sd-push-2-col, .grid-sd-push-3-col, .grid-sd-push-4-col, .grid-sd-push-5-col,
	.grid-sd-push-6-col,  .grid-sd-push-7-col, .grid-sd-push-8-col, .grid-sd-push-9-col, .grid-sd-push-10-col,
	.grid-sd-push-11-col, .grid-sd-push-12-col {
		margin-left: 0;
	}
}

.grid-reset-all(){
	.grid-reset();
	.grid-md-reset();
	.grid-sd-reset();
}


/* CSS Klassen */

.grid-container {
	padding: 0 @grid-margin;
}

.row {
    margin: 0 ( ( @grid-gutter / 2) * -1 );
	.clearfix();
}

.row-fullsize {
	margin: 0 ( ( @grid-margin + ( @grid-gutter / 2) ) * -1 );
	.clearfix();
}

/*.grid-indent-1-col {
	margin-left: (( 1 / @grid-column-count ) * 100) + 0%; 
}*/

.grid-auto-col, .grid-fix-col,
.grid-1-col,    .grid-2-col,     .grid-3-col,     .grid-4-col,
.grid-5-col,    .grid-6-col,     .grid-7-col,     .grid-8-col,
.grid-9-col,    .grid-10-col,    .grid-11-col,    .grid-12-col,

.grid-md-1-col, .grid-md-2-col,  .grid-md-3-col,  .grid-md-4-col, 
.grid-md-5-col, .grid-md-6-col,  .grid-md-7-col,  .grid-md-8-col, 
.grid-md-9-col, .grid-md-10-col, .grid-md-11-col, .grid-md-12-col,

.grid-sd-1-col, .grid-sd-2-col,  .grid-sd-3-col,  .grid-sd-4-col, 
.grid-sd-5-col, .grid-sd-6-col,  .grid-sd-7-col,  .grid-sd-8-col, 
.grid-sd-9-col, .grid-sd-10-col, .grid-sd-11-col, .grid-sd-12-col
{
	display: inline;
	min-height: 1px;
	padding: 0 ( @grid-gutter / 2);
	position: relative;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	*padding: 0 0; /* IE 7 */
}

.grid-auto-col{
	width: auto;
}

/* Standard Grid erzeugen */
.grid-generate(@grid-column-count);