/* Hochauflösende Icons und Hintergrundgrafiken */
@font-face {
	font-family: 'IcoMoon';
	src: url('../../../media/jui/fonts/IcoMoon.eot');
	src: url('../../../media/jui/fonts/IcoMoon.eot?#iefix') format('embedded-opentype'),
		url('../../../media/jui/fonts/IcoMoon.woff') format('woff'),
		url('../../../media/jui/fonts/IcoMoon.ttf') format('truetype'),
		url('../../../media/jui/fonts/IcoMoon.svg#IcoMoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'IcoMoon';
	content: attr(data-icon);
	speak: none;
}

/* Icon Quelle /media/jui/lessicomoon.less */
/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'IcoMoon';
	font-style: normal;
	speak: none;
}
[class^="icon-"].disabled,
[class*=" icon-"].disabled {
	font-weight: normal;
}
.icon-arrow-up-3:before {
	content: "\e00f";
}

.icon-arrow-down-3:before {
	content: "\e011";
}

.icon-menu-2:before {
	content: "\e00e";
}
.icon_hotline {
		position: relative;
		top: 0px;
		display: inline-block;
		zoom: 1;
		background-image: url(../../../images/layout/telefonhoerer-blau.png);
		background-repeat: no-repeat;
		width: 17px;
		height: 20px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2),
		only screen and (min--moz-device-pixel-ratio: 2),
		only screen and (-moz-min-device-pixel-ratio: 2),
		only screen and (-o-min-device-pixel-ratio: 2/1),
		only screen and (min-device-pixel-ratio: 2),
		only screen and (min-resolution: 192dpi),
		only screen and (min-resolution: 2dppx) { 

	
}