/* Anpassungen für Internet Explorer 7 */

button {
	padding-top: 3px;
	padding-bottom: 3px;
}

ol.bjqs-markers li {
	display:inline;
	zoom: 1;
}

ol.bjqs-markers li a {
	zoom:1;
	border-radius: 5px;
	behavior: url(/templates/experten-energie/css/PIE.htc);
}

.acysubbuttons .button {
	font-size: 16px !important;
}

#desktopmenu ul li ul {
    background-color: #fff;
}