/* Anpassungen für Internet Explorer 8 */
#page-content {
	position: relative;
	z-index: 1;
}
#content-wrapper{
	z-index: 1;
}
#boxes{
	z-index: 2;
}
#actionchat{
	z-index: 2;
}

#hauptnavigation-row{
	position: relative;
	z-index: 4;
	height: 35px
}

#mobilmenu {
	height: 0;
	display: none;
}

#navigator-row{
	z-index: 8;
}

#topnavigation a {
	padding-top: 5px;
}

#actionicons {
	z-index: 8;
}

.acysubbuttons .button {
	font-size: 16px !important;
}

ol.bjqs-markers li a {
	zoom:1;
	border-radius: 5px;
	/*behavior: url(/templates/experten-energie/css/PIE.htc);*/
	background: url(/images/layout/slider-buttons.gif) no-repeat scroll -24px 0 #fff;
}

ol.bjqs-markers li.active-marker a{
	background: url(/images/layout/slider-buttons.gif) no-repeat scroll 0 0 #fff;

}

#abbinder{
	font-size: 11px !important;
}

#footermenu a{
	font-size: 12px !important;
}

#offlinelogin #remember {
	 border: none !important;
}

#page-footer .acymailing_module .fieldacyemail input {
	line-height: 1.5 !important;
}

.camera_loader
{
	behavior: url(/templates/experten-energie/css/PIE.htc);
}