/* Layout */

/* Allgemeinen */
body {
	background-color: @color-body-bg;
	border-bottom: 1px solid @color-footer-bg;
}

#page-wrapper {
	
}

#page {
	background-color: @color-page-bg;
	
	#page-content {
	    margin-top: 140px;
	}
}

/* Hilfselemente */
.page-center {
    margin: 0 auto;
    /*overflow: hidden;*/
    text-align: left;
	max-width: @page-width;
	position: relative
}

#page-content {
	padding-top: 0;
	padding-bottom: 62px;
	// Relative position für Bootstrap Scrollspy component
	position: relative;
	height: 100%;
}

.stick {
	margin-top: 0 !important;
	position: fixed !important;
	z-index: 9999;
}

#smalllogo { 
	display: none; 
}

#header {
    width: 100%;
    height: 140px;
    position: fixed;
    top: 0px;
    background-color: @color-body-bg;
    z-index: 999;
    
	/* Shadow animation: on/off */
	-webkit-transition: box-shadow 0.3s; /* Safari */
    transition: box-shadow 0.3s;	

	
    .row {
	position: relative;
    }
}




#header.shadow {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-transition: box-shadow 0.3s; /* Safari */
    transition: box-shadow 0.3s;	
}


#logo {
    position: relative;
    top: 36px;
    height: 80px;

    img {
	    position: absolute;
	    width: 100%;
	    max-width: 320px;
	    left: 0;
	    bottom: 0;
        } 
}

#stoerer {
	position: absolute;
	right: 247px;
	top: 18px;
}

#menu-telefon {
    position: absolute;
    top: 48px;
    right: 15px;
    z-index: 99999;
	
	span {
		color: @color-produktlogo;
	}
    
	.icon-telefon {
		background-image: url("../../../images/icons/telefon.svg");
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 20px 20px;
		padding: 0 0 0 25px;
		line-height: 20px;
		display: block;
	}
	
    .label {
		display: none;
    }
}

#mobil-menu-suche img {
    width: 20px;
}

#mobil-menu-telefon img {
    width: 15px;
}

#desktopmenu {
	height: 20px;
	margin-left: 6px;
}

/* menu.main.less */
.desktop-hauptmenue();

#buehne {
	//width: @page-inner-width;
	overflow: hidden; // IE11 Slider Fix
}

.content-links {
	padding-right: 40px;
}

#herz-row, #banderole-row {
	height: 0;
	position: relative;
	display: none;
}

.viewherz #herz-row, .viewbanderole #banderole-row {
	display: block;
}

#herz {
	display: block;
	width: 136px;
	height: 139px;
	position: absolute;
	top: -85px;
	right: 50px;
}

#banderole {
	width:120px;
	height:120px;
	position: absolute;
	bottom: -25px;
	right: -45px;
	display: block;
}

#breadcrumbs {
	margin-top: 15px;
	height: 70px;
}

#navigator-row {
    position: relative;
    height: 1px;
}

#page-footer {
	padding-top: 20px;
}

#footer {
    background-color: @color-footer-bg;
    height: 35px;
	width: 100%;
}

#footer-inner {
	background-color: @color-footer-bg;
	position: relative;
    margin: 0 auto;
    text-align: left;
	width: @page-width;
	max-width: @page-width;
}

#abbinder {
	float: left;
    color: @color-grau-asch;
	.font(12, 35, @basefont-family , normal);
}

/* Google Maps mit Adresse (Seite: Anfahrt) */
#google-address {
    padding: 0;
    font-size: @basefont-size + 0px;
}

/* BUG FIX: Mac - Firefox*/
#map-canvas .gm-style-iw {
    overflow: hidden !important;
}

#verwandtethemen {
	margin-top: 30px;
}


 //Anchor + fixed menu fix:
div.section {
    position: relative;
}
.sectionanchor {
    position: absolute;
    top: -140px;
    height: 140px;
}

#section1,
#section2-fluid,
#section3-fluid {
    padding: 0;
}

#newsletter,
#ueber-uns,
#strom,
#erdgas,
#kunden,
#tarife,
#angebot {
    padding: 60px 0;
}

#newsletter {
    padding-bottom: 26px;
}

#section1 {
    margin-top: 50px;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.sectionanchor {
    position: absolute;
    top: -140px;
    height: 140px;
}

/*** Fahrstuhl ***/
.fahrstuhl {
    opacity: 0;
    transition: opacity 0.4s ease 0s;
    -webkit-transition: opacity 0.4s ease 0s;

    position: fixed;
    bottom: 30px;
    left: 50%;
    margin-left: -15px;
    z-index: 9999;
    text-align: center;
    width: auto;
    background-color: @color-grau-asch;
    border: @color-produktlogo solid 1px;
    border-radius: 2px;
    padding: 3px 6px;
    
    img {
		width: 15px;
		margin-bottom: 2px;
    }
}

@keyframes fahrstuhl-animation {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fahrstuhl-animation {
    from {opacity: 0;}
    to {opacity: 1;}
}

.fahrstuhl.show {
    opacity: 1;
    transition: opacity 0.4s ease 2s;
    -webkit-transition: opacity 0.4s ease 2s;
	
	img {
		animation: fahrstuhl-animation 0.8s ease-in-out 0s 17 alternate;
		-webkit-animation: fahrstuhl-animation 0.8s ease-in-out 0s 17 alternate;
	}
}
/****************/

/* ENDE TEMPLATE LAYOUT */
/* Lesezeichenhint und Joomla Messages */
#bookmarkhint {
    position: fixed;
    top: 0;
    color: @color-weiss;
    width: 100%;
    display: none;
	z-index: 999999;
    .opacity {
		background-color: @color-system-message-bg;
    }
    .page-inner {
		padding: 20px;
		line-height: 1.5em;
    }
	a.close { 
			color: @color-weiss;
			text-decoration: none;
	}
	a.close:hover {
		color: @color-weiss;
		text-decoration: underline;
	}
}

#cms-message {
    position: fixed;
    top: 0;
    color: @color-weiss;
    width: 100%;
    display: block;
    z-index: 999999;
	
    .opacity {
	background-color: @color-system-message-bg;
    }
	
    .page-inner {
	padding:0;
    }
	
	#system-message-container{
	    padding:20px;
	}
	.alert {
	    color: @color-schwarz;
	    background-color: @color-produkt-logo;
	    border-color: @color-produkt-logo;
	    padding-bottom: 15px;
	    line-height: 1.5;
	    a {
		    color: @color-weiss;
	    }
	    a:hover {
		    text-decoration: underline;
	    }
	}
	.alert-heading {
		color: @color-schwarz;
		font-weight: bold;
	}
	.alert-success {
	    background-color: @color-weiss;
	    border-color: @color-weiss;
	}
	.close {
		font-weight: normal;
		font-size: 1em;
		color: @color-weiss;
		text-decoration: none;
		opacity: 0.8;
		&:hover {
			color: @color-weiss;
			text-decoration: underline;
		}
	}
	p {
		color: @color-weiss;
		margin: 0;
	}
}

#system-message {
	.alert {
		color: @color-weiss;
		position: relative;
		background-color: @color-system-message-bg;
		padding: 20px;
		line-height: 1.5;
		
	}
	.alert-heading {
		color: @color-weiss;
		font-weight: bold;
	}
	.close { 
		color: @color-grau;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		color: @color-weiss;
		margin: 0;
	}
}