/********************************************************/
/* Mobil Layouts */ 


#buehne .headerimage
{
	height: 250px;
}


.mobil-header() {
    #search-row {
        display: none;
    }
	
    #mobilnavigation {
        ul.nav.menu {
           display:none; 
        }
    }
    /*
	
    #logo {
		margin-left: 15px;
    }
	
    #search {
		right: 15px;
    }
	
    #mobilmainnav {
		right: 15px;
    }
    */
}

.mobil-header-sm() {
    #search {
		display: none;
    }
    #menu-telefon {
	display: none;
    }
}

/* Mobil Layout 1 Spalte */
.mobil-layout-1col() {
    /*
    #page-content {
        padding-top: 0;
        
        .row:first-child {
            margin: 0 -30px;
        }
        
        .row {
            .grid-8-col {
                width: 100%;
                
                .content-links {
                    padding: 0;
                }
            }
            .spalterechts {
                display: none;
            }
        }
    }
    .moduletable.grid-4-col {
        width: 100%;
    }
    */
}

/* Mobil Layout 2 Spalten */
.mobil-layout-2col() {

}

.mobilperfolinie(){
	
}

.mobil-footer() {
    
}