.desktop-menu() {
	
	/* menu.main.less */
/* Wird wegen IE 7/8 nin in layout.less eingebunden */
/*	.desktop-hauptmenue ();*/
	
    #mobilmainnav {
	display: none;
	
	#mobil-menu-suche, #mobil-menu-telefon {
	    display: none;
	}
    }
	
    #mobilnavigation, 
	#mobilnavigationhome {
		display: none;
    }
}

.desktop-actionicons() {
    #stickyactionicons.stick {
		margin-top: 0 !important;
		position: fixed;
		top: 0;
		z-index: 9999;
    }

    #stickyactionicons.stick #actionicons {
		top: 150px;
    }
}

.mobil-actionicons() {

}

.mobil-menu() {
    #hauptnavigation {
	
	#mobilnavigation {
	    //border-top: 1px solid white;
	    margin-left: -15px;
	    margin-right: 212px;
	}

	#mobilnavigation , 
	#mobilnavigationhome {
		display: none;
		a.header-invisible {
		    display: none;
		}
	}
	
	#mobilnavigation.show , 
	#mobilnavigationhome.show {
		display: block;
		border-bottom: 1px solid white;

		ul.nav.menu {
		    display:block;
		}
	}

	#mobilnavigationhome li.deeper.parent,
	#mobilnavigation li.deeper.parent {
		background-image: url(../../../images/layout/unten.png);
		background-repeat: no-repeat;
		background-position: right 0;
	}

	#mobilnavigationhome li.opened,
	#mobilnavigation li.opened {
		background-image: url(../../../images/layout/oben.png) !important;

		> ul {
		    display:block;
		}
	}

	#mobilmainnav {
		display: block;
		position: relative;
		float: right;
		margin: 0;
		margin-bottom: 20px;
		height: 40px;
		width: auto;
			
		li {
			float: left;
			.font(16, 36, @basefont-family, normal, uppercase);
			display: inline-block;
		}

		a {
			padding-left: 20px;
			padding-right: 20px;
			color: @color-produktlogo;
			display: block;
			text-decoration:none;
		}
		
		li:first-child a {
		    padding: 0 20px 0 44px;
		    background-image: url("../../../images/layout/menue.png");
		    background-repeat: no-repeat;
		    background-position: left center;
		    background-size: 24px;
		}
		
		#mobil-menu-suche, #mobil-menu-telefon {
		    display: none;
		}
		
		.active {
			//border-bottom: 2px solid @color-produktlogo;
			//color: @color-weiss;
			//background-color: @color-produktlogo;
		}
		/*
		.item-245 {
			background-color: @color-produktlogo;
			padding-left: 0;
			padding-right: 0;
			a {
				color: @color-weiss;
			}
		}
		*/
	}
    }
}

.mobil-footer-menu() {
	#footer ul, #footer ul.nav li {
		width:100%;
		.font(15, 25, @basefont-family, bold, none);
	}
	#footer li li a {
		.font(11, 18, @basefont-family, bold, none);
	}
	#footer ul a {
		display: none;
		padding-left: 20px;
	}
	
	#footer ul a.showlink {
		display: block;
	}
	
	#footer ul span {
		display: block;
		background-image: url(../../../images/layout/unten.png);
		background-repeat: no-repeat;
		background-position: right -3px;
		margin-right: 20px;
	}
	
	#footer ul span.active {
		background-image: url(../../../images/layout/oben.png);
	}
}

/****************************************/
.mobil-menu-1col() {
    .mobil-menu();
    .mobil-hauptmenue();
    #mobilmenu {
	    display: block;
    }
	
    #desktopmenu {
		display: none;
    }
	
    .sekundaernavigation {
	    display: none;
    }
	
    #topnavigation { 
	    display: none;
    }
	
	#navigator-main{
		margin-left: 15px;
	}
	
	#navigator-alle li, 
	#navigator-favoriten li {
		margin-top: 30px;
		text-align: center;
		width: 103px;
	}
	
	#navigator-alle, #navigator-favoriten {
		a {
			.font(10, 14, @basefont-family , normal);
		}
	}
	
}
.mobil-menu-sm() {
    .mobil-menu-1col();
    #hauptnavigation {
	
	#mobilnavigation {
	    margin-right: 77px;
	}
	
	#mobilmainnav {

	    li {
		.font(15, 26, @basefont-family, normal, uppercase) !important;
	    }
	    li:first-child a {
		padding: 0 10px 0 34px !important;
	    }

	    #mobil-menu-suche, #mobil-menu-telefon {
		display: block !important;
		a {
		    padding: 0 10px;
		}
		img {
		    padding-bottom: 4px;
		}
	    }

	    #mobil-menu-suche {
		border-left: solid @color-produktlogo 1px;
		border-right: solid @color-produktlogo 1px;
	    }
	}
    }
}

.mobil-menu-2col() {
	.mobil-menu();
	.mobil-menu-1col();
	.mobil-hauptmenue();
	
    #desktopmenu {
		display: none;
    }

	#topnavigation { 
		display: none;
    }
	
	.sekundaernavigation {
		display: none;
    }
		
	#navigator-alle li, #navigator-favoriten li {
		margin-top: 50px;
		text-align: center;
		width: 125px;
	}
}

.mobil-hauptmenue(){
    #mobilnavigation, 
	#mobilnavigationhome {
		clear:right;
		background-color: @color-grau-asch;
		z-index: 100;
		.item-473 {
			display: none; /* Home */
		}
		
		.item-116 {
			border-top: 1px solid @color-weiss;
		}
		
		li {
			border-bottom: 1px solid @color-weiss;
		}
		
		li.deeper {
			padding-bottom: 0;
		}
		
		li:last-child {
			border-bottom: 0 none;
		}
		
		a, 
		span {
			display:block;
			.font(15, 18, @basefont-family, normal, none);
			color: @color-produktlogo;
/*			padding: 3px 0 3px 0;*/
			
			&.hidden {
				display: none;
			}
			
			&:active {
			    color: @color-produktlogo;
			}
		}

		ul.nav-child { 
			display:none;
		}
		
		li ul {
			position: static;
		}
		
		li li {
			background-color: @color-weiss;
			padding-left: 10px;
			
		}
		li li li {
			padding-left: 0;
		}
		
		li li a {
			border-bottom: 1px solid @color-grau;
			color: @color-produktlogo;
		}
		
		li li a.nolink {
			border-bottom: 0 none;
			color: @color-grau-hell;
		}
		
		li li span {
			color: @color-grau-hell;
		}
		
		li li:last-child a{
			border-bottom: 0 none;
		}
		ul.nav-child li a,
		ul.nav-child ul.nav-child li a {
			border-bottom: 1px solid @color-grau-hell;
			color: @color-produktlogo;
		}
		ul.nav-child li:last-child a,
		 ul.nav-child ul.nav-child li:last-child a{
			border-bottom: 0 none;
		}
    }
	
	#mobilnavigationhome li:last-child {
		/*border-bottom: 0 none;*/
	}
}
