.nav, .nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}


#hauptnavigation-row {
    background-color: @color-hauptnavigation-bg;
    color: @color-hauptnavigation-text;
	padding-top: 66px;
        padding-bottom: 34px;
	min-height: 20px;
}


/* Footer-Navigation */
#footermenu {
	float: left;
	width: 480px;
	color: @color-footer-text;
	.font(12, 12, @basefont-family , normal);
	a {
		color: @color-footer-link;
		display: block;
		padding: 7px 0 7px 0;
		text-decoration: none;
		
		&:hover {
			color: @color-weiss;
			text-decoration: underline;
		}
	}

	ul.nav li {
		float: left;
		margin-right: 18px;
	}
} 

/* Breadcrumbs */
#breadcrumbs {
	.breadcrumb li:before {
		content: none;
	}

	ul {
	    padding-left: 0;
		padding-bottom: 9px;
		display: block;
		li {
			display: inline;
			
			a,
			span {
				margin-right: 5px;
				.font(12, 12, @basefont-family);
			}

			a {
			    color: @color-produktlogo;
				
				&:hover {
					color: @color-produktlogo;
				}
			}
			
			span {
			    color: @color-grau-dunkel;
			}
		}
	}
}
