/* Actionicon Menü Desktop / Mobil */

#stickyactionicons {
    position: relative;
    height: 0;
	margin: 0 auto;
    width: @page-width;
	max-width: @page-width;
}

#stickyactionicons.stick {
	margin-top: 0 !important;
	position: fixed;
	top: 60px;
	z-index: 9999;
}

#stickyactionicons.stick #actionicons {
	top: 0;
}

#actionicons {
	position: absolute;
	right: 0;
	top: -105px;;
	z-index: 9999;
	ul {
		margin-right: @page-margin;
	}
	li {
		float:left;
		background-color: @color-actionicons-bg;
		width: @action-icons-width;
		height: @action-icons-height;
		margin: 0 0 0 8px;
		position: relative;
		a > img {
			width: @action-icons-width;
			height: @action-icons-height;
		}
	}
}

	
.desktop-actionicons() {
    
}

.mobil-actionicons() {
    #actionicons {
		top: 25px;
		right: -5px;
		li {
			float: left;
		}
    }
}