/* Navigator Menü Desktop / Mobil */
#navigatorshow{
    display:none;
    position: absolute;
	top: 0;
	left: 488px;
	width:50px;
	a{
		color: transparent;
		display:block;
		height: 25px;
		width: 50px;
		background-image: url(../../../images/layout/icon-shownavigator.png);
		background-position: 0 0;
		background-repeat: no-repeat;
	}
	a.active{
		background-position: 0 -30px;
	}
}

#navigator-row {
    position: relative;
    height: auto;
    background-color: @color-navigator-bg;
}

#navigator {
    color: @color-navigator-text;
    z-index: 1;
	
/*	.opacity {
		background-color: @color-navigator-bg;
    }*/
	.moduletable {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;         /* Opera/IE 8+ */
		width: 33%;
		float: left;
		margin-top: 20px;
		padding-left: 20px;
		padding-right: 20px;
		
		h3 {
			.font(14, 16.8 , @basefont-family , bold, uppercase );
			color: @color-navigator-text;
			margin: 0 0 24px 0;
			padding: 0 0 6px 0;
                        background-image: url('../../../images/layout/navigator-header-strich.png');
                        background-repeat: no-repeat;
                        background-position: left bottom;
		}
		
		a {
		    background-color: transparent;
		    padding: 0;
		}
	}
	.moduletable + .moduletable + .moduletable {
		margin-right: 0;
	}
	h3 {
		.font(14, 16.8 , @basefont-family , bold, uppercase );
		color: @color-navigator-text;
		margin: 15px 0 20px 0;
		padding: 0 0 6px 0;
		background-image: url('../../../images/layout/navigator-header-strich.png');
		background-repeat: no-repeat;
		background-position: left bottom;
	}
	ul {
	    margin: 0 0 15px 0;
	}
	li {
	    margin: 0;
	    padding: 0;
	}
	a {
	    padding: 6px 0;
	    .font(14, 16.8 , @basefont-family , normal, normal );
	    color: @color-navigator-text;
	    
	    &:hover {
		background: transparent;
		text-decoration: underline;
	    }
	}
	
	.social-link {
	    li {
		
		text-align: center;
		display: inline-block;
		padding: 0 5px 5px 0;
	    }
	    li:first-child {
		padding-left: 0px;
	    }
	    span {
		display: none;
	    }
	    a {
		padding: 0;
		width: 24px;
		height: 24px;
		border-radius: 12px;
		background-color: @color-produktlogo;
		background-position: center center;
		background-repeat: no-repeat;
		line-height: 22px;
	    }
	    img {
		height: 12px;
	    }
	}
}
#navigator-inner{
	position: relative;
	/*margin: 0 auto;*/
	text-align: left;
	padding: 35px 0 35px 0;
}

.mobil-navigator-1col(){
    #navigator {
        #navigator-inner {
		.moduletable {
		    width: 100%;
		    margin-bottom: 20px;
		}
                h3 {
                    background-image: url(../../../images/layout/pfeil-footer-menue.png);
		    background-size: 15px;
                    background-repeat: no-repeat;
                    background-position: right center;
		    border-bottom: 1px solid @color-weiss;
                }
                h3.active {
                    background-image: url(../../../images/layout/pfeil-footer-menue-oben.png);
		    border-bottom: none;
                }
                ul {
                    display: none;
                }
                h3.active + ul {
                    display: block;
		    border-bottom: 1px solid @color-weiss;
                }
        }
    }
}

.mobil-navigator-2col(){

}