/* Hauptmenü Desktop 3 Spalten ----------------------------------------------- */
@mainmenu-desktop-height: 20px;
@mainmenu-desktop-spacer-height: 2px;
@mainmenu-desktop-spacer-hover-color: @color-produktlogo;
@mainmenu-desktop-spacer-active-color: transparent;

@mainmenu-desktop-multicolum-col-width: 195px;
@mainmenu-desktop-level1-color-bg: @color-schwarz;
@mainmenu-desktop-level1-color-text: @color-produktlogo;
@mainmenu-desktop-level1-color-hover-text: @color-produktlogo;
@mainmenu-desktop-level1-color-hover-bg: transparent;

@mainmenu-desktop-level2-color-text: @color-schwarz;
@mainmenu-desktop-level2-color-hover-text: @color-produktlogo;
@mainmenu-desktop-level2-color-hover-bg: transparent;

@mainmenu-desktop-dropdown-color-bg: @color-weiss;
@mainmenu-desktop-dropdown-color-border: @color-weiss;
@mainmenu-desktop-dropdown-color-bg-rgba: rgba(255,255,255,0.9);

.desktop-hauptmenue() {
	#mainnav {
		height: @mainmenu-desktop-height;
	}
	#desktopmenu {
	
		float: right;
		position: relative; /* set reference for absolute position in submenu */
		z-index: 50; 		/* necessary for mouse hover from 1st level to submenu (2nd level) */
		margin-left: 12px;
		/* General style */
		a, span {
			display: block;
			text-decoration: none;
			
			/* hidden class defined via joomla backend*/
			&.hidden {
				display: none;
			}
		}
		
		a:focus {
		    background-color: transparent;
		}
		
		ul,
		li {
			margin: 0;
			padding: 0;
		}
		

		/* Menu style */
		
		/* ul - 1. level */
		ul {
			float: left;			/* Home-menu and Hauptnavigation must not break. */
			/* do not set margin-right: 20px, otherwise we can not use absolute position right:0px for submenu 	*/

			&:last-child {
				margin-right: 5px;
			}
			
			li {
				float: left;		/* 1st level links must not break */
				/* margin-left: 10px; */	/* Split 30px margin into left and right. Do not set margin-right in parent ul. */
				/* margin-right: 20px; */	
					
				
				cursor: default;	/* avoid text cursor */

				a, span {
					color: @mainmenu-desktop-level1-color-text;
					.font(16, 18, @basefont-family, normal, uppercase);
					line-height: @mainmenu-desktop-height;
					margin: 10px 10px;
					padding: 0;
				}
				a.header-invisible {
				    display: none;
				}
				
				/* hover: show submenu */
				&:hover ul,
				&.over ul {
					display: block;	/*	show hidden submenu */
					padding: 15px 0;
				}
				
				/* hover status */
				&:hover,
				&.over {
					ul {
						a,
						span {
							border-bottom: 0 none;	/* reset */
							color: @mainmenu-desktop-level2-color-text;		/* reset */
						}
					}
					 
					a,
					span {
						background-color: transparent;
						border-bottom: @mainmenu-desktop-spacer-height solid @mainmenu-desktop-spacer-hover-color;
						color: @mainmenu-desktop-level1-color-hover-text;
					}
				}
				
				/* active status */
				&.active {
					ul {
						a,
						span {
							border-bottom: 0 none;	/* reset */
							color: @mainmenu-desktop-level2-color-text;		/* reset */
						}
					}
					 
					a,
					span {
						background-color: transparent;
						border-bottom: @mainmenu-desktop-spacer-height solid @mainmenu-desktop-spacer-hover-color;
						color: @mainmenu-desktop-level1-color-hover-text;
					}
				}
			
				/* ul - 2. level, MIXIN.  */
				.float_right() {
					right: 0;
					margin-left: 0;
				}
				
				/* ul - 2. level, MIXIN.  */
				.multi_columns() {
					/* left: inherit; */
					
					li {
						float: left;
						width: @mainmenu-desktop-multicolum-col-width;	/* TODO: variable */
						clear: none;	/* reset */
						margin-right: 8px;
						
						&:last-child {
							margin-right: 0;
						}
						
						span.nav-header {
							margin: 0 10px 0 10px;
							float: none;	/* reset */
							clear: none;	/* reset */
						}
						
						ul {
							li {
								margin: 0;	/* reset */
							}
						}
					}
				}
			
				/* ul - 2. level, subnavigation - BEGIN*/
				ul {
					display: none;			/* default: invisible */
					position: absolute;		/* enable "right: 0" for submenu */
					top: (@mainmenu-desktop-height + @mainmenu-desktop-spacer-height);
					margin-left: 0; /*-20px; +/
					z-index: 50;
					padding: 10px;
					
					min-width: 170px;		/* orientate on: Trinkwasser > Preise & Services */
					width: 170px;
					background-color: @mainmenu-desktop-dropdown-color-bg;
					background-color: @mainmenu-desktop-dropdown-color-bg-rgba;
					border: 1px solid @mainmenu-desktop-dropdown-color-border;
					
					&:last-child {
						margin-right: 0px;	/* reset 1st level */
					}
					
					li {
						
						float: none;		/* reset 1st level */
						/* margin: 0; */			/* reset 1st level */
						padding: 0;			/* reset 1st level */
						clear: both;		/* non-visual fix. fixes li behaviour. (verify with firebug) */

						a, span {
							.font(16, 18, @basefont-family, normal, none);
							color: @color-grau-dunkel;
							
						font-weight: normal !important;
							padding: 3px 20px;
							margin: 3px 0;
						}
						
						a:hover {
							background-color: @mainmenu-desktop-level2-color-hover-bg;
							color: @mainmenu-desktop-level2-color-hover-text;
							font-weight: bold !important;
						}
						
						span.nav-header {
							.font(14, 15, @basefont-family, bold, uppercase);
							
							color: @mainmenu-desktop-level2-color-text;
							margin: 0 10px 0 10px;
							padding: 9px 10px 10px 0;

							clear: both;
							display: block;
						}
						
						/* ul - 3. level */
						/* In general used for tree_columns */
						ul {
							
							border: 0 none;		/* reset of subnavigation border frame */
							position: relative;	/* disable absolute */
							top: 0;				/* reset of 38px */
							margin: 0;			/* reset of -20px */
							padding: 0;			/* reset of 10px */
							
						}
					}

					/* ul - 2. level. manuell right float  */
					&.right {
						.float_right();
					}
					
					/* ul - 2. level, subnavigation. 3-columns.  */
					&.tree_columns {
						width: 613px;		/* TODO: variable: 635 = 310 + 15 + 310. 613 = 635 - 2*10px margin - 2*1px border */
						.float_right();
						.multi_columns();
					}
					
					/* ul - 2. level, subnavigation. 2-columns.  */
					&.two_columns {
						width: 400px;		
						.multi_columns();
					}
				
				
				}  /* ul - 2. level, subnavigation - END */

				
				/* Automatic float right */
				&:last-child  ul {
					.float_right();
				}

			
			}	/* li - 1. level - END */
							
			
		}	/* ul - 1. level - END */
		
	}

}

/* Ende Hauptmenü Desktop 3 Spalten ------------------------------ */