/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13.03.2014, 09:03:07
    Author     : thomaslangergu
*/

#offlinelogin {
	width:400px;
	background-color: @color-produktlogo;
	display: none;
	fieldset {
		border: 0 none;
	}
	label {
		color: #FFF;
		display: inline-block;
		width: 140px;
	}
}