/* Styl-Angaben für Print */

.print-template #content {
	.image-fulltext.pull-left {
		float: none;
	}
	.medialinks{
		display:none;
	}
	.pop-buttons{
		padding:15px 0 15px 0;
		margin-bottom: 20px;
	}
	#pop-print, #pop-close {
		display: inline-block;
		float: left;
		.font(12, 12, @basefont-family, normal);
		a {
			display:inline-block;
			color: @color-grau;
			padding-top: 4px;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	#pop-print{
		border-right: 1px dotted #9C9B9B;
		margin-right: 20px;
		padding-right: 20px;
	}
	
	h1, h2, h3, h4, h5, h6,
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: #000;
	}
	a {
		color: #000;
		text-decoration: underline;
		background: none center right no-repeat;
		padding: 0;
	}
	li {
		list-style-image: none !important;
	}
	
	a.nachoben {
		display: none;
	}
	th {
		border: 1px solid #A9A9A9 !important;
		background-color: #DCDCDC !important;
		color: #000 !important;
	}
	td {
		border: 1px solid #A9A9A9 !important;
		background-color: #fff !important;
	}
	a[href^="/"]:after{
		 content:" [http://www.experten-energie.de/"attr(href)"]";
	}  
	a[href^="http://"]:after,
	a[href^="https://"]:after{
		 content:" ["attr(href)"]";
	} 
}

@media print 
{ 
	#pop-print, #pop-close, .pop-buttons {
		display: none;
		visibility:hidden;
		height:0;
	}
}