/* Responsiv Layout */

/* >= 1200px */
@media only screen and (min-width: @layout-breakpoint-0) {
    .desktop-menu();
}

/* < 1200px */
@media only screen and (max-width: @layout-breakpoint-0 - 1px) and (min-width: @layout-breakpoint-5 + 1px) {
    .mobil-header();
    .mobil-menu();
    .mobil-menu-1col();
}
/*  Desktop 3-spaltig (< Breakpoint 1 + 20px). Rechter und linker Rand dynamisch */
@media only screen and (max-width: @layout-breakpoint-1 + 20px) {
    #page-content {
        overflow: hidden;
    }
}

/* Desktop 3-spaltig (< Breakpoint 1). Rechter Rand fix. Linker Rand dynamisch. */
@media only screen and (max-width: @layout-breakpoint-1) {
    .desktop-actionicons();
    #search {
	width: @search-width - 76px;
	
	.finder {
	    width: @search-width - 76px;
	    
	    #mod-finder-searchword {
			width: @search-width - 110px;
	    }
	}
    }
    
    .gu_tarifrechner {
	.page3 {
	    form {
		.kontaktcol {
		    width: 100%;
		}
		.formcol3 {
		    width: 100%;
		    
		    div:last-child {
			position: static;
			direction: rtl;
		    }
		}
	    }
	}
	.page6 {
	    .gu_tarifform_details {
		width: 100%;
	    }
	    .formcol3 {
		padding-top: 100px;
	    }
	}
    }

    /*
    #page {
        width: 100%;
    }
    #hotline-row div.page-center {
        width: 100%;
    }
    #buehne {
        position: relative;
        float: left;
        left: -20px;
        width:100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    #footermenu {
        padding-left: 20px;
        width: auto;
    }
    navigator {
        padding-left: 0px;
        padding-right: 0px;
    }
    .tariftabrow {
        margin-left: 20px;
    }
    ul.bjqs-controls.v-centered li.bjqs-next a {
	right: 20px;
    }

    ul.bjqs-controls.v-centered li.bjqs-prev a {
        left: 20px;
    }
    */
}

/* Desktop 3-spaltig (< Breakpoint 2). Rechter Rand dynamisch. Kein Linker Rand. */
@media only screen and (max-width: @layout-breakpoint-2) and (min-width: @layout-breakpoint-3 + 1px) {
    //.desktop-menu();
    
} 

/* Desktop 3-spaltig. Mobil Actionicons */
@media only screen and (max-width: @layout-breakpoint-2) {
    #navigatorshow {
        display: none;
    }
    #navigator-row {
        height: auto;
    }
    #navigator {
        display: block !important;
        position: relative;
    }
}

/**********************************************************/
/*   MOBIL. 1-spaltig + 2-spaltig                         */
/**********************************************************/

/* Mobil 2-spaltig */
@media only screen and (max-width: @layout-breakpoint-3 - 1px) {
    	
    
}

/* Teaser Description Issue */
@media only screen and (max-width: 840px) and (min-width: @layout-breakpoint-4 + 1) {
    .bjqs .description {
        top: 20px !important;
    }
}
@media only screen and (min-width: @layout-breakpoint-4) {
    .desktop-menu();
}

@media only screen and (max-width: @layout-breakpoint-4 - 1px) {
    body {
        font-size: 16px;
    }
    #buehne {
        .bjqs {
            background-color: @color-header-bg;
            .bjqs-slide {
                .guteaserbox {
                    .description {
                        background-color: transparent;
			left: 0px;
                        height: auto;
			max-height: 1000px;
                        width: 100%;
                        padding: 20px;
                        box-sizing: border-box;
                    }
                } 
            }
        } 
    }
    ul.bjqs-controls.v-centered li a {
	position: absolute;
        color: transparent;
        height: 44px;
        width: 21px;
    }
    ul.bjqs-controls.v-centered li.bjqs-next a {
	background-image: url(../../../images/layout/pfeil-klein-re.png);
    }

    ul.bjqs-controls.v-centered li.bjqs-prev a {
        background-image: url(../../../images/layout/pfeil-klein-li.png);
    }
    .homelayout .guteaserbox {
	.claim1, claim2 {
	    margin-bottom: 0 !important;
	    padding-bottom: 46px;
	}
    }
    
    ul.listeplus li:not(:first-child) {
	margin-top: 44px;
    }
    
    #search {
	top: 2px;
    }
    .acymailing_module {
	margin-bottom: 30px;
    }
    .gu_tarifrechner {
	background-position: 10px 75px;
	
	.gu_tarifrechner_col1, .gu_tarifrechner_inner {
	    padding-right: 15px;
	    margin-left: 50%;
	}
	.page6 {
	    .formcol3 {
		padding-right: 0;
		padding-left: 1px;
	    }
	}
    }
}

/* Mobil 1-spaltig */
@media only screen and (max-width: @layout-breakpoint-4 - 1px) and (min-width: @layout-breakpoint-5 + 1px) {
    .mobil-actionicons();
    .mobil-content();
    .mobil-form-1col();
    //.mobil-footer-menu();
    //.mobil-footer();
    .mobil-navigator-1col();
    
}

@media only screen and (max-width: 695px) {
    .mobil-menu-sm();
    .mobil-header-sm();
    .mobil-navigator-1col();
}

/* Mobil 1-spaltig und 2-spaltig */
@media only screen and (max-width: @layout-breakpoint-5)  {
    .gu_tarifrechner {
	background-position: center 50px;
	
	.gu_tarifrechner_col1, .gu_tarifrechner_inner {
	    width: 100%;
	    padding: 0 15px;
	    margin: 0;
	}
	.gu_tarifrechner_col1 {
	    margin-top: 280px;
	}
	.form2col, .formcol3 {
	    padding-right: 0px;
	}
    }
	#newsletter,
	#ueber-uns,
	#strom,
	#erdgas,
	#kunden,
	#tarife,
	#angebot {
		padding: 30px 0;
	}
}

@media only screen and (max-width: 500px)  {
    
    #footermenu {
        width: auto;
    }
	
}

@media only screen and (max-width: 472px) {
#footer {
	height: auto;
	
	#abbinder {
	    line-height: 24px;
	    padding: 6px 0;
	    
	    span {
		width: 100%;
		float: left;
	    }
	}
    }
}

@media only screen and (max-width: 524px) {
    #header {
	#logo {
	    top: 10px;
	}
	#hauptnavigation {
	    #mobilmainnav {
		top: 20px;
	    }
	}
    }
}

@media only screen and (max-width: @layout-breakpoint-6) {
    #stoerer {
        display:none;
    }
}

@media only screen and (max-width: 380px) {
    #hotline {
        display: none;
    }
    
    #hotline-icon {
        display: block;
    }
    
    #footermenu {
        .font(9, 11, @basefont-family, normal); 
    }
}

@media only screen and (max-width: 348px) {
    input[type="button"],
    input[type="reset"],
    input[type="submit"],
    button:not(.slick-dot),
    .button,
    .moduletable.home-kontakt p.claim1 span.readmorelink {
	width: 100% !important;
    }
    .gu_tarifrechner {
	.formcol3 {
	    width: 100%;
	    padding-right: 0px;
	}
	.page6 {
	    .formcol3 {
		padding: 0;
		padding-top: 30px;
		
		& > div {
		    position: static;
		}
	    }
	}
    }
    
}

/**************************************************/

@media (max-width: 767px) {                          .screen-xs();  }
@media (min-width: 768px) and (max-width: 991px) {   .screen-sm();  }
@media (min-width: 992px) and (max-width: 1199px) {  .screen-md();  }
@media (min-width: 1200px) {                         .screen-lg();  }
