* {
    box-sizing: border-box;
}

html {

}

body {
	margin: 0;
	padding: 0;
}

body {	
    background-color: #fff;
    color: #333;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    line-height: 1.42857;
	
}

ul, li {
	margin: 0;
	padding: 0;
}

p,span, li {
	font-size: 14px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a[href^="tel"]:link,
a[href^="tel"]:visited,
a[href^="tel"]:hover {
	cursor: text;
	color: #fff;
}

/* a[href^="tel"]:hover {
	text-decoration: underline;
} */

/* #content a.extern-link:hover {
	text-decoration: underline;
} */


.number a[href^="tel"]:link,
.number a[href^="tel"]:visited,
.number a[href^="tel"]:hover {
	color: #014587;
}

.box.gray a[href^="tel"]:link,
.box.gray a[href^="tel"]:visited,
.box.gray a[href^="tel"]:hover {
	color: #000;
}


.footer a[href^="tel"]:link,
.footer  a[href^="tel"]:visited,
.footer  a[href^="tel"]:hover {
	color: #888;
}

p {
	margin: 10px 0;
}

#header {
	background-color: #fff;
	height: 120px;
    position: fixed;
    top: 0;
    width: 1024px;
    z-index: 100;
}



#logo {
	position: absolute;
	bottom: 10px;
	padding-left: 72px;

}

/*#logo img {
	width: 75px;
}*/

#contact {
	position: absolute;
	bottom: 10px;
	right: 30px;
}

#contact span {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

#content a.extern-link {
	font-size: 14px;
	font-weight: bold;
	color: #014587;
	line-height: 21px;
}

#contact span.label{
	color: #000;
	font-size: 14px;
}

#contact span.number {
	color: #014587;
	font-size: 14px;
}


#container {
	width: 1024px;
	margin: 0 auto;
}

#main {
	position: relative;
	margin-top: 120px;
}

#visual {
	position: absolute;
	margin-left: 30px;
	width: 100%;
}


#visual-inner {
	height: 625px;
	background: url("../images/bg-visual.jpg") no-repeat scroll right 0/964px auto rgba(0, 0, 0, 0);
	margin-right: 60px;
}


#visual img {
	width: 964px;
}

#content {
	position: relative;
	padding-top: 30px;
}

.box {
	padding: 10px 30px 10px 72px;
	margin-bottom: 20px;
	width: 445px;
}

.box.header {
	padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.box.header h1 {
	border-left: 30px solid #014587;
	color: #014587;
	padding: 12px 0 2px 42px;
	margin: 0 0 0 -72px;
	font-family: "Times New Roman",serif;
	font-weight: normal;
	font-size: 62px;
}

.box h2 {
	font-size: 18px;
	font-weight: normal;
	margin: 6px 0 0 0;
}

.box.blue {
	background: none repeat scroll 0 0 rgba(161, 177, 207, 0.75);
	color: #014587;
}

.box.blue2 {
	background: none repeat scroll 0 0 rgba(1, 69, 135, 0.75);
	color: #fff;
}

.box.blue a { color: #014587; }
/* .box.blue a:hover { text-decoration: underline; } */

.box.blue2 a { color: #fff; }
/* .box.blue2 a:hover { text-decoration: underline; } */

.phonecosts {
    font-size: 10px;
	}

ul.list li {
    background: url("../images/list-point.png") no-repeat scroll 0 2px rgba(0, 0, 0, 0);
}

ul li {
    line-height: 1.4em;
    padding-bottom: 5px;
    padding-left: 28px;
}


ul.list {
    list-style: outside none none;
    padding-top: 12px;
}

.footer span {
	font-size: 1em;
	color: #888;
	line-height: 28px;
}

.footer a {
	color: #888;
}

.footer a:hover {
	color: #014587;
}

.col-6 {
	width: 50%;
	float: left;
}

.col-1st {}
.col-2nd {
margin-left: -60px;
}

.float-right01 {
	float: right;
	margin-right: 60px;
}

.float-right {
	float: right;
}

.fix-number-label {
	width: 50px;
	display: inline-block;
}

#mobil-header-image {
	width: 100%;
	margin-bottom: 20px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.hide-desktop {
	display: none;
}

@media only screen and (max-width: 1024px) {
	#header {
		width: 100%;
	}
	
	#container {
		width: inherit;
	}

	#visual {
		
	}
}

@media only screen and (max-width: 768px) {

	.box.blue {
	background: none repeat scroll 0 0 rgba(161, 177, 207, 0.9);
	color: #fff;
	}

	.box.blue2 {
	background: none repeat scroll 0 0 rgba(1, 69, 135, 0.9);
	color: #fff;
	}


	#header {
		height: 140px;
	}
	
	#logo {
		bottom: 30px;
		padding: 0 30px;
	}
	
	#contact {
		left: 30px;
	}
	
	.box.header h1 {
		font-size: 46px;
	}
	
	.box h2 {
		font-size: 20px;
	}
	
	a,p,span, li {
		font-size: 16px;
	}
	
	.hide-mobile {
		display: none;
	}
	
	.hide-desktop {
		display: block;
	}
	
	.footer {
		margin: 0 30px;
	}
	
	.footer span{
		font-size: 14px;
	}
	
		
	.footer span a{
		font-size: 14px;
	}
	
	.box {
		padding: 10px 30px 10px 30px;
		margin-bottom: 20px;
		width: inherit;
	}
	
	
	#content {
		padding-top: 0;
	}
	
	.phonecosts {
    font-size: 10px;
	}
	#contact span.claim {
		font-size: 16px;
	}

	#contact span.claim1  {
		font-size: 16px;
		color: #006fb6;
	}
	
	.fix-number-label {
		width: 57px;
	}

	a[href^="tel"]:active,
	a[href^="tel"]:hover {
		cursor: pointer;
		color: #006fb6;
	}

	.number a[href^="tel"]:active,
	.number a[href^="tel"]:hover {
		color: #014587;
	}

	.box.gray a[href^="tel"]:active,
	.box.gray a[href^="tel"]:hover {
		color: #fff;
	}

	
	.box.header h1 {
		border-width: 10px;
		margin-left: -30px;
		padding-left: 20px;
	}
	
	/****************/
	.box  {
		margin-left: 30px;
		margin-right: 30px;
	}
	/****************/
	
	
}

@media only screen and (max-width: 560px) {
	/****************/
	.box  {
		margin-left: 0;
		margin-right: 0;
	}
	/****************/
	
	.col-12-xs .float-right {
		float: left;
	}
	
	.col-12-xs {
		float: left;
		width: 100%;
	}
	
}

@media only screen and (max-width: 380px) {
	#logo {
		width: 100%;
	}
	
	#logo img {
		width: 100%;
	}
}